<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><!--{$config.site_name}--></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="<!--{$config.site_keywords|escape:html}-->" />
<meta name="description" content="<!--{$config.site_description|escape:html}-->" />
<LINK href="/templates/kele/img/reset.css" type=text/css rel=stylesheet>
<LINK href="/templates/kele/img/common.css" type=text/css rel=stylesheet>
<LINK href="/templates/kele/img/news.css" type=text/css rel=stylesheet>
<!--[if lte IE 6]>
<script src="/templates/kele/img/fixPNG.js"></script>
<script type="text/javascript">
DD_belatedPNG.fix('.pngfix');
</script>
<![endif]--> 
<script type="text/javascript" src="scripts/jquery.js"></script>
</head>
<body>
<!--{include file="header.html"}-->
 
<DIV class="mainContent clearfix">
  <div class="left box newlist">
     <h3><strong class="fl icon_07"><!--{$channel_info.name}--></strong></h3>
    <DIV class=margin>
<ul class="news_list">
<!--{foreach from=$content_list item=content}-->
<li><span class="category"></span><a href="{$content.url}" {if $content.target}target="_blank"{/if}>{$content.title}</a> <span class="date">{$content.time}</span></li>
<!--{/foreach}-->
</ul>
<div align="right"><!--{$pagebar}--></div>
    </DIV>
  </DIV>
  <DIV class=sidebar>
    <DIV class="" id=uc_box>
      <!--{include file="part_login.html"}-->
    </DIV>
    <DIV class="box latest_news">
      <!--{include file="part_faq.html"}-->
    </DIV>
    <DIV class="box cs">
      <DIV class=margin>
      	<!--{include file="part_service.html"}-->
      </DIV>
    </DIV>
  </DIV>
</DIV>

<!--{include file="footer.html"}-->
</body>
</html>
