<div class="box psphoto">
    <h3>
        <strong class="fl">玩家照片</strong>
    </h3>
    <div class="margin">
        <ul class="clearfix">
            <li><img src="/templates/kele/img/ps-2012011.jpg" /></li>
			<li><img src="/templates/kele/img/ps-2012010.jpg" /></li>
			<li><img src="/templates/kele/img/ps-2012009.jpg" /></li>
			<li><img src="/templates/kele/img/ps-2012008.jpg" /></li>
			<li><img src="/templates/kele/img/ps-2012007.jpg" /></li>
			<li><img src="/templates/kele/img/ps-2012006.jpg" /></li>
			<li><img src="/templates/kele/img/ps-2012005.jpg" /></li>
			<li><img src="/templates/kele/img/ps-2012004.jpg" /></li>
			<li><img src="/templates/kele/img/ps-2012003.jpg" /></li>
        </ul>
    </div>
</div>
