<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><!--{$config.site_name}--></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="<!--{$config.site_keywords|escape:html}-->" />
<meta name="description" content="<!--{$config.site_description|escape:html}-->" />
<LINK href="/templates/kele/img/reset.css" type=text/css rel=stylesheet>
<LINK href="/templates/kele/img/common.css" type=text/css rel=stylesheet>
<LINK href="/templates/kele/img/gamelist.css" type=text/css rel=stylesheet>
<!--[if lte IE 6]>
<script src="/templates/kele/img/fixPNG.js"></script>
<script type="text/javascript">
DD_belatedPNG.fix('.pngfix');
</script>
<![endif]--> 
<script type="text/javascript" src="scripts/jquery.js"></script>
</head>
<body>
<!--{include file="header.html"}-->
 
<DIV class="mainContent clearfix">
  <DIV class="left box game_center">
    <h3 class="gl"><strong class="fl pngfix hid">游戏中心</strong></h3>
    <DIV class=margin>
          <div class="ser_list clearfix">
              <div class="recommend_list">
                  <p><strong><span id="lblGameTitle"><!--{$game_name}--></span>服务器列表</strong></p>
              </div>
              <div class="ser_list_div">
                  <ul>
<!--{foreach from=$server_list item=server}-->
<li class="state_0<!--{$server.server_state}-->"><a href="game.php?action=play&game_id=<!--{$server.game_id}-->&server_id=<!--{$server.server_id}-->" target="_blank"><!--{$server.server_name}--></a> <em>状态</em> </li>
<!--{/foreach}-->
                  </ul>
              </div>
          </div>
    </DIV>
  </DIV>
  <DIV class=sidebar>
    <DIV class="" id=uc_box>
      <!--{include file="part_login.html"}-->
    </DIV>
    <DIV class="box latest_news">
      <!--{include file="part_faq.html"}-->
    </DIV>
    <DIV class="box cs">
      <DIV class=margin>
      	<!--{include file="part_service.html"}-->
      </DIV>
    </DIV>
  </DIV>
</DIV>

<!--{include file="footer.html"}-->
</body>
</html>
