<style>     
.homeBd{width: 100%;height: auto;text-align: left}
.homeBd span{display: inline-block;width: 160px;height: 70px;background: green;line-height: 70px;font-size: 18px;color: white;margin-left: 30px;margin-top: 10px;text-align: center}
.homeBd label{display: inline-block;width: 60px;height: 20px;position: absolute;margin-left: -100px;margin-top: 45px;text-align: center;line-height: 20px;}
.model{position: fixed;width: 400px;height: 240px;left: 40%;top: 50%;margin-top: -200px;z-index: 99;background: white;padding: 20px;box-sizing: border-box;box-shadow: 0 0 10px gray;border-radius: 5px;}
.medelCot{width: 100%;height: 80px;text-align: center;line-height: 80px;}
.modelFot{width: 100%;height: 60px;line-height: 60px;}
.modleft{width: 50%;height: 60px;display: inline;float: left}
.modright{width: 50%;height: 60px;display: inline;float: right;text-align: right}
.modelFot button{display: inline-block;width: 80px;height: 30px;border: 1px solid #666;background: none;border-radius: 5px;outline: none}
.modelFot button:hover{background: #378be5;color: white}


.smallMod{width: 180px;height: 180px;background: gray;text-align: center;line-height: 180px;color: white;font-size: 20px;position: fixed;left: 50%;top: 50%;z-index: 999999;margin-top: -150px;margin-left: -90px;
animation: myfirst 1s;
-moz-animation: myfirst 1s;	/* Firefox */
-webkit-animation: myfirst 1s;	/* Safari 和 Chrome */
-o-animation: myfirst 1s;	/* Opera */
}

@keyframes myfirst
{
from {background: gray;color: white;display: block}
to {background: transparent;display: none;color: #eee}
}

@-moz-keyframes myfirst /* Firefox */
{
from {background:red;}
to {background:yellow;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {background:red;}
to {background:yellow;}
}

@-o-keyframes myfirst /* Opera */
{
from {background:red;}
to {background:yellow;}
}
</style>

<div class="homeBd">
	<span ng-repeat="item in data" ng-style="{{item.color}}" ng-click="showModel(item.roomHao)">
		{{item.roomHao}}
		<!-- <label>{{item.peole}}</label> -->
	</span>
	<!-- <span>
		8201
		<label>1</label>
	</span>
	<span>
		8201
		<label>1</label>
	</span> -->
	
</div>


<div class="model" ng-show="model">
	<div style="display: inline;width: 100px;height: 60px;line-height: 60px;;font-size: 20px;" ng-click="hideModel()">X</div>
	<div class="medelCot">入住房间: {{seleRoom}}</div>
	<div class="modelFot">
		<div class="modleft" ng-click="hideModel()">
			<button type="button">取消</button>
		</div>
		<div class="modright">
			<button type="button" ng-click="getData()">确定</button>
		</div>
	</div>
</div>


<div class="smallMod" ng-show="showMsg">
	{{mesg}}
</div>