
.pay{width:705px;}
.pay .margin{ background:url("pay_center[1].png") repeat-y 0 0; }
.pay_nav{width:184px;padding:1px 0; background:url("pay_nav2[1].png") repeat-y -184px 0; }
.pay_nav li{height:35px; background:url("pay_nav2[1].png") no-repeat 0 0;}
.pay_nav li a{display:block; height:35px;overflow:hidden;padding-left:42px; color:#deffaa; font:bold 12px/39px arial,"";text-decoration:none; }
.pay_nav li a:hover,.pay_nav li a.current{color:#deffaa; background:url("pay_nav2[1].png") no-repeat 0 -35px ;text-decoration:none; }
.pay_main{width:509px; }

.step1{width:480px;margin:3px auto;}
.tip_t{height:10px; background:url("pay02[1].png") no-repeat 0 0 ;}
.tip_b{min-height:80px;_height:80px;padding-bottom:25px; background:url("pay02[1].png") no-repeat 0 bottom ;color:#49a50d;}
.tip_b h4,.tip_b p{margin:0 25px 8px;}
.tip_b h4{font-weight:bold;font-size:14px;}

.step2{}
.step2 h4,.step3 h4,.step4 h4{margin:0 16px;font:bold 15px/30px arial,""; color:#91ac82;}
.step2 h4 strong,.step3 h4 strong,.step4 h4 strong{margin-right:3px; font-weight:bold; font-size:18px;font-family:Arial;}
.step2_div{height:85px; background:url("bg_step[1].png") repeat-x 0 0 ;}
.step2_div .a2{display:inline-block; padding-left:12px;width:70px;height:26px; color:#fff;background:url("pay02[1].png") no-repeat -480px -61px;text-decoration:none;}
.step2_div .a2:hover{color:#ff0;text-decoration:none; }
.step2_div p strong{font:bold 14px/26px arial,"";color:#f00;}

.step3_div,.step4_div{background:url("bg_step[1].png") repeat-x 0 -105px ;}
.step2_div{padding:20px 0 0 38px;position:relative; }
.step3_div p,.step4_div p,.step2_div p{margin:5px 0;}
.step2_div label,.step3_div label,.step4_div label{display:inline-block; font-weight:bold; color:#49a50d;}
.step3_div{padding:6px 0 0 35px;}
.step3_div  var{display:inline-block;}
.step3_div input{border:1px solid #c5cfc5;background:#f2f6f2;padding:3px 2px;}
.step4_div strong{color:#f60; } 
.pay_main em{color:#f60;font-weight:bold; padding:0 3px;}
.step4_div{padding:20px 0 0 38px;height:80px;}
.next{display:block;width:134px;height:37px;margin:15px auto;background:url("pay02[1].png") no-repeat -480px 0; border:none;}

.select_game,.change_game{position:relative; }
.tip_box{position:absolute; width:482px; z-index:9;top:45px; }
.top_tri{display:block;height:7px;width:482px;overflow:hidden; background:url("tip_box[1].png") no-repeat 0 0 ;}
.tip_c{padding:5px;background:#fff;border:1px solid #dee6de;border-top:0;}
.tip_c li a{float:left; width:112px; height:96px; position:relative; margin:2px;text-align:center; }
.tip_c li a:hover{text-decoration:none;background:url("select_game[1].png") no-repeat 0 0;}
.tip_c li a img{width:104px;height:86px;margin:6px 4px 0 4px;}
.tip_c li a span{position:absolute; bottom:5px;left:0;width:100px;text-align:center;color:#666;display:none;}
.tip_c li a:hover span{font-weight:bold; color:#5e9c00; }
/*.tip_c ul{background:#D2EBD4;border:1px solid #C0DFC3;}
.tip_c dl{background:#D2EBD4;border:1px solid #C0DFC3;}*/

.tip_c dt{width:100%; border-bottom:1px solid #dee6de;font-weight:bold;}
/*.tip_c dd{width:32%;float:left;margin:5px 2px 5px 0;border-bottom:1px dashed #dee6de;}*/
.tip_c dd a{margin-left:6px;}
.tip_c dd a:visited{color:#666;}
.allser{left:10px;top:80px; }
.allser h5{height:30px;background:url("pay_ser[1].png") repeat-x 0 0;color:#0a5a06;font:bold 14px/30px arial;text-indent:1em;}
.allser .tip_c{padding:0;background-color:#edf7ed;}
.allser dl{margin:5px;background:#fff;border:1px solid #ddecdd;text-align:center;}
.allser dd{margin:3px 0;float:left;height:30px;width:135px;padding-left:20px;background:url("icon_pay_ser[1].png") no-repeat 30px center;border-bottom:1px dashed #c4e37f;}
.allser dd a{line-height:30px;color:#0a5a06;}
.allser dd a:hover{color:#f60;}
/*---pop--*/
.pop{width:520px; font-size:12px;color:#628e6e;line-height:22px;margin:0 0 0 -260px;position:absolute;top:30%;left:50%;z-index:999;}
.pop h3{padding:5px 4px 0 4px; height:32px; background:url("box2[1].png") no-repeat 0 0;}
.pop h3 strong{margin-left:10px;float:left;color:#dfffce;font:bold 14px/26px arial,"";}
.close{float:right;width:31px;height:23px;margin-right:6px;background:url("close[1].png") no-repeat 0 0;}
.close:hover{background-position:-31px 0;}
.pop_c{padding:0 5px 10px 7px;background:url("box2[1].png") no-repeat 0 bottom;}
.pop_div{padding:20px 0 0 0;background:url("box_line[1].png") repeat-x 0 -2px;}
.margin{padding-right:10px;padding-left:12px;}
.line{padding-top:16px; padding-bottom:20px;background:url("box_line[1].png") repeat-x 0 0;}
.pay_tip{margin:10px 20px;padding-left:140px; background:url("pay_tip[1].png") no-repeat 0 0;min-height:190px;_height:190px; font-size:14px;}
.pay_tip strong{color:#999;}
.pay_tip p{margin:0.8em 0;}
.pay_tip label{color:#3f930a;}
.pay_tip em{color:#ff7800;}
.pay_tip_btn{ text-align:center;}
.pay_tip_btn a{
display:inline-block;margin:0 8px; text-align:center;
 width:80px; height:24px; 
 background:url("btn[1].png") 4px -156px no-repeat;
 line-height:26px; 
 font-size:12px; font-weight:bold; 
color:#fff; margin:0 5px;
}
.pay_tip_btn a:hover{color:#ff0;}

.pay .margin{padding:0;}

.bank_abc{width:460px;margin:15px auto;border:1px solid #ccc;}
.bank_abc td{padding:2px;border:1px solid #ccc;}
.bank_ul{margin:10px auto;width:460px; font-family:verdana;}


/*paypal*/
.sndCenter_tipBox {
    background-position: -2020px 0;
    margin-bottom:0px;
    overflow: hidden;
    width:495px;
}
.sndCenter_box_bg ul {
    margin: 0 0 0 8px;
    width:480px;
}
.sndCenter_tipBox ul{    
    background: none repeat scroll 0 0 #FFFFE1;
    border: 1px solid #CCCCCC;
    margin: 10px 0 16px;
    padding:6px;
}
.sndCenter_tipBox ul h3 {
	background:none;
    font-weight: bold;
    line-height: 30px;
    margin-left: 16px;
    width: 528px;
}
.sndCenter_tipBox ul h3 span {
    color: #FF6600;
    font-weight: bold;
}

.btn_paypal {
    margin-bottom: 20px;
}
.btn_paypal ul li {
    display: inline;
    float: left;
    height: 36px;
    margin:0 9px;
    width: 141px;
}
.btn_paypal ul li a {
    display: block;
    height: 35px;
    line-height: 100px;
    overflow: hidden;
    width: 141px;
	background-image:url("sidebg_snd[1].png");
}
.btn_paypal ul li a:hover {
    margin-top: 1px;
}
.btn_paypal ul li a.pre{
	 background-position:0 0;
}
.btn_paypal ul li a.qus {
    background-position: -142px 0;
}
.btn_paypal ul li a.help_center{
    background-position: -284px 0;
}
.paypal_text {
    line-height: 24px;
}
.paypal_text p {
    padding-left: 20px;
    position: relative;
}
.paypal_text p ins {
    display: block;
    height: 22px;
    left: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 20px;
}
.paypal_text h5 {
    font-weight: bold;
    margin-top: 24px;
}
.paypal_text a {
    color: #0033FF;
    text-decoration: underline;
}
