/* Basic Style */
body {background-color: #fff;font-family: 'Open Sans', sans-serif;line-height: 1;font-size: 13px;color: #a8a8a8;}
ol, ul {margin: 0;padding: 0;list-style: none;}
figure, p {margin: 0;}
a {-webkit-transition: all .3s ease-in 0s;-moz-transition: all .3s ease-in 0s;-ms-transition: all .3s ease-in 0s;-o-transition: all .3s ease-in 0s;transition: all .3s ease-in 0s;}
iframe {border: 0;}
a, a:focus, a:hover {text-decoration: none;outline: 0;}
a:focus, a:hover {color: inherit;}
h1, h2, h3,
h4, h5, h6 {font-family: 'Open Sans', sans-serif;font-weight: normal;margin: 0;}
.clear:before,
.clear:after {content: " ";display: table;}
.clear:after {clear: both;}
.clear {*zoom: 1;}
body > section {padding: 100px 0;}
.section-title {margin: 0 auto 85px;width: 420px;}
.section-title h2 {color: #1f2021;font-size: 30px;position: relative;margin-bottom: 25px;padding-bottom: 27px;text-transform: uppercase;}
.section-title h2:before {border-bottom: 1px solid #1f2021;bottom: 0;content: "";left: 50%;margin-left: -50px;position: absolute;width: 100px;}
.section-title h2:after {background: none repeat scroll 0 0 #fff;border: 1px solid #1F2021;border-radius: 25px;bottom: -6px;content: "";height: 11px;left: 50%;margin-left: -5.5px;position: absolute;width: 11px;}
.copyrights {text-indent: -9999px;height: 0;line-height: 0;font-size: 0;overflow: hidden;}
.section-title p {line-height: 25px;font-weight: 300;font-size: 13px;}
.btn {border-radius: 0;}
.btn:hover,
.btn:focus {outline: 0;}
.btn-blue {background-color: #ff4a77;color: #fff;font-size: 16px;line-height: 24px;padding: 10px 35px;}
.kill-margin {margin: 0 !important;}


/* 导航 */
#navigation,
.navbar-brand,
.navbar-toggle,
.navbar-nav > li > a,
.search-form > #search-sub {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.animated-nav .navbar-brand {padding: 15px 0;}
.animated-nav .navigation .navbar-nav > li > a {padding: 23px 25px;}
#navigation > .container {/* border-bottom: 1px solid #636364; */}
.animated-nav#navigation > .container {border-bottom: none;}
.navbar-brand {height: inherit;padding: 30px 0;}
.navbar-brand a {display: block;}
.navigation .navbar-nav > li > a {color: #fff;font-size: 13px;font-weight: 600;padding: 38px 25px;text-transform: uppercase;}
.navigation .navbar-nav > li.current > a {color: #ff4a77;border-bottom: 1px solid #ff4a77;}
.animated-nav .navigation .navbar-nav > li.current > a {color: #fff;border-bottom: 1px solid #fff;}
.navigation .navbar-nav > li > a:focus,
.navigation .navbar-nav > li > a:hover {background-color: transparent;}
.search-form {position: relative;}
.search-form > #search {width: 100%;}
.search-form > #search {background-color: transparent;height: 40px;border: 0 ;margin-top: 28px;width: 100%;}
.search-form > #search-sub {background: url("../img/icons/search.png") no-repeat scroll 0 0 transparent;border: 0 ;bottom: 11px;height: 15px;position: absolute;right: 8px;padding: 0;text-indent: -9999em;width: 15px;}
.animated-nav .search-form > #search-sub {bottom: 22px;}


/* 轮播 */
#home{padding: 0;overflow: hidden;}
#home-carousel .carousel-inner .item {background-size:cover;height: 800px!important;}
#home-carousel .slider-content {height: 100%;}
#home-carousel .carousel-caption {left: 0;top: 0;z-index: 11;text-align: left;}
.carousel-caption > div {background-color: #ff4a77;opacity: 0.5;padding: 60px 50px 80px 20%;position: absolute;top: 25%;width: 76%;}
#home-carousel .carousel-inner h2 {color: #ffffff;font-size: 30px;line-height: 50px;margin-bottom: 20px;text-shadow: none;text-transform: uppercase;}
#home-carousel .carousel-inner p {color: #FFFFFF;line-height: 28px;font-size: 13px;margin-top: 0;text-shadow:none;}
#nav-arrows > a {border: 1px solid #fff;color: #fff;display: block;height: 60px;line-height: 76px;position: absolute;text-align: center;top: 50%;width: 60px;z-index: 20;margin-top: -30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
#nav-arrows > a.sl-prev {left: 50px;}
#nav-arrows > a.sl-next {right: 50px;}
#nav-arrows > a.sl-next:hover {background-color: #ff4a77;border-color: #ff4a77;color: #fff;}
.carousel-indicators .active {background-color: #ff4a77;border: 0;}


/* 主题 */
#projects {width: 100%;}
.project-filter {margin-bottom: 40px;}
.project-filter ul li {padding: 0;}
.project-filter ul li a {color: #000;display: block;line-height: 18px;padding: 10px 20px;text-transform: uppercase;}
.project-filter ul li a:hover,
.project-filter ul li a.active {background-color: #ff4a77;color: #fff;}
.mix {display: none;}
.portfolio-item {position: relative;float: left;overflow: hidden;width: 25%;margin-top: 10px}
.portfolio-item img{margin: 0 auto}
.plus {background: url("../images/icon/plus.png") no-repeat scroll center center #ff4a77;border-radius: 50%;display: block;height: 80px;left: 50%;margin: -40px 0 0 -40px;position: absolute;top: -41px;width: 80px;
    -webkit-transition: 0.3s ease-out 0s;
    -moz-transition: 0.3s ease-out 0s;
    -ms-transition: 0.3s ease-out 0s;
    -o-transition: 0.3s ease-out 0s;
    transition: 0.3s ease-out 0s;
}
figcaption.mask {background-color: #fff;bottom: -101px;left: 0;padding: 30px 0;position: absolute;width: 100%;
    -webkit-transition: 0.3s ease-out 0s;
    -moz-transition: 0.3s ease-out 0s;
    -ms-transition: 0.3s ease-out 0s;
    -o-transition: 0.3s ease-out 0s;
    transition: 0.3s ease-out 0s;
}
.portfolio-item:hover figcaption.mask {bottom: 0;}
.portfolio-item:hover .plus {top: 30%;}
figcaption.mask h3 {color: #1f2021;font-size: 20px;line-height: 28px;text-align: center}
figcaption.mask span {color: #0FAED9;display: inline-block;width: 100%;text-align: center}

/* .fancybox-opened{width: 744px!important;height: 580px!important;}
.fancybox-inner{width: 744px!important;height: 580px!important;} */



/* 关于我们 */
#about {padding-bottom: 0;}
.about-us img {margin: 0 auto;}
#count {/* background-color: #ff4a77; */padding-bottom: 90px;padding: 0px 100px!important}
.counter-section {background-color: #ff4a77;opacity: 0.5;/* #096c89 */padding: 25px 0 40px;}
.fact-item {color: #fff;}
.fact-icon {position: relative;width: 50px; height: 28.87px;background-color: red;margin: 14.43px auto;}
.fact-icon:before,
.fact-icon:after {content: "";position: absolute;width: 0;left: 0;border-left: 25px solid transparent;border-right: 25px solid transparent;}
.fact-icon:before {bottom: 100%;border-bottom: 14.43px solid red;}
.fact-icon:after {top: 100%;width: 0;border-top: 14.43px solid red;}
.fact-icon > i {line-height: 27px;}
.fact-item span {display: block;font-size: 30px;line-height: 42px;font-weight: 700;margin: 28px 0 20px;}
.fact-item p {font-weight: 300;}


#quotes {background-color: #fc7e9c;}
.call-to-action {color: #fff;font-weight: 600;}
.call-to-action p {font-size: 25px;line-height: 35px;margin-bottom: 15px;}

/* Footer */
#footer {background-color: #121116;padding: 30px 0 35px;}
.footer-logo {margin-bottom: 30px;}
.footer-social {margin-bottom: 15px;}
.footer-social h3 {font-size: 20px;color: #fff;text-transform: uppercase;margin-bottom: 20px;padding-bottom: 20px;position: relative;}
.footer-social h3:after {border-bottom: 1px solid #fff;bottom: 0;content: "";display: block;left: 50%;margin-left: -115px;position: absolute;width: 230px;}
.footer-social ul li a {color: #fff;display: block;margin: 0 8px;}
.footer-social ul li a:hover {color: #ff4a77;}
.copyright {font-size: 15px;font-weight: 600;color: #fff;}
.copyright a {color: #ff4a77;}
.copyright a:hover {color: #fff;}
.copyright p:first-child {margin-bottom:  5px;}

.beiNum{font-size: 16px!important;font-weight: normal;color: white!important}
