<ion-view hide-tabs="true">
    <ion-nav-title>支付完成</ion-nav-title>
    <ion-nav-buttons side="right">
        <div class="button icon ssk button-clear" style="font-size:40px;" ng-click="gotoHome()"><i class="ic ic_home_white"></i></div>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" style="background-color:#fafafa;">
        <div class="bzzx">
            <div class="m main" dir="dir" content="myVal">
                <div class="mb zfcg" style="text-align:center;font-size:20px;">
                    <br/>
                    <br/>
                    <img src="img/c_checkbox_on2.png" style="vertical-align:middle!important;"/><span style="margin-left:10px;vertical-align:middle!important;">支付完成！</span>
                    <br/>
                    <br/>
                </div>
                <div class="zfhxz fhsy">
                    <a href="javascript:;" ng-click="gotoHome();">返回首页</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
