<ul>
				<li class="colBlu" ng-style="leftAct">
					<a href="#/" title="">首页</a>
				</li>
				<li class="colBlu" ng-style="leftAct2">
					<a href="#/bulk" title="">散客入住</a>
				</li>
				<li class="colBlu" ng-style="leftAct3">
					<a href="#/hour" title="">钟点房入住</a>
				</li>
				<li class="colBlu" ng-style="leftAct4">
					<a href="#/change" title="">换房</a>
				</li>
				<li class="colBlu" ng-style="leftAct5">
					<a href="#/retreat" title="">退房</a>
				</li>
				<li class="colBlu" ng-style="leftAct6">
					<a href="#/setting" title="">订单查询</a>
				</li>
				<li class="colBlu" ng-style="leftAct7">
					<a href="#/serch" title="">觅TA分时</a>
				</li>
			</ul>