<div class="logo">XXXX有限公司</div>
      		<ul class="hedList">
      			<li>
      				<div class="lileft"><span class="colBlu"></span></div>
      				<div class="liright">空闲30间</div>
      			</li>
      			<li>
      				<div class="lileft"><span class="colGren"></span></div>
      				<div class="liright">散客5间</div>
      			</li>
      			<li>
      				<div class="lileft"><span class="colYell"></span></div>
      				<div class="liright">常包房0间</div>
      			</li>
      			<li>
      				<div class="lileft"><span class="colBlig"></span></div>
      				<div class="liright">团队0间</div>
      			</li>
      			<li>
      				<div class="lileft"><span class="colRed"></span></div>
      				<div class="liright">同行5间</div>
      			</li>
      			<li>
      				<div class="lileft"><span class="colRedlig"></span></div>
      				<div class="liright">钟点房0间</div>
      			</li>
      			<li>
      				<!-- <div class="lileft"><span></span></div> -->
      				<div class="liright" style="width: 150px;">用房总数：40间</div>
      			</li>
      		</ul>