<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<title><!--{$language.title}--></title>
<script type="text/javascript" src="/scripts/jquery.js"></script>
<script type="text/javascript" src="/scripts/jquery.editor.js"></script>
<script type="text/javascript">
{literal}
var e;
$(function(){
	e=$('#content_text').xheditor({
		upImgUrl:"?action=upload",
		upImgExt:"jpg,gif,png",
		onUpload:function(msg){
			msg=msg.toString().replace('/uploads/','');
			$("#attachment_list").val($("#attachment_list").val()+msg+",");
		},
		shortcuts:{
			'ctrl+enter':function(){
				$('#content_info').submit();
			}
		}	
	});
});

function editor_insert(html){
	e.pasteHTML(html);
}
function editor_insert_attachment(filename){
	var ext=filename.split(".")[1];
	if(ext=='gif'||ext=='jpg'||ext=='png'||ext=='bmp'){
		editor_insert('<img src="/uploads/'+filename+'" alt=""/>');
	}else{
		editor_insert('<a href="/uploads/'+filename+'">'+filename+'</a>');
	}
}
function addlink(obj){
	document.getElementById('content_link').innerHTML+="<div style=\"padding:4px 0\"'><input type=\"text\" class=\"input\" name=\"content_link[]\" size=\"110\"/>&nbsp;<a href=\"javascript:;\" onclick=\"removelink(this)\">[-]</a></div>";
}
function removelink(obj){
var parent=obj.parentNode;
	parent.innerHTML='';
	parent.parentNode.removeChild(parent);
}
var attachmentnum=1;
function addattachment(obj){
  if(attachmentnum>=10)return;
document.getElementById('content_attachment').innerHTML+="<div style=\"padding:4px 0\"'><input type=\"file\" class=\"input\" name=\"content_attachment[]\" />&nbsp;<a href=\"javascript:;\" onclick=\"removeattachment(this)\">[-]</a></div>";
  attachmentnum++;
}
function removeattachment(obj){
var parent=obj.parentNode;
	parent.innerHTML='';
	parent.parentNode.removeChild(parent);
  attachmentnum--;
}
{/literal} 
</script>
</head>
<body>
<!--{include file="top.htm"}-->
<div id="content">
	
	<div class="container">
		
		<div class="row">
<!--{include file="left.htm"}-->
<div class="span9">
				
				<h1 class="page-title">
					<a href="?action=content&do=content_list&channel_id=<!--{$smarty.request.channel_id}-->"><!--{$language.content_list}--></a>
&raquo;&nbsp;<!--{if $mode=='insert'}--><!--{$language.content_add}--><!--{else}--><!--{$language.content_edit}--><!--{/if}-->
					
				</h1>
				
				<div class="stat-container">
				<form action="?action=content&do=content_<!--{$mode}-->" method="post"  name="content_info" enctype="multipart/form-data">
<input name="attachment_list" id="attachment_list" type="hidden" value=""/>
	<table width="100%">
{if $category_list!=''}
	<tr>
		<td width="100" height="30" align="right"><!--{$language.form_content_category}--></td>
		<td>
			<select name="category_id">
		<option value="0"><!--{$language.select}--></option>{$category_list}
		</select>
</td>
		</tr>
{/if}
		<tr>
		<td width="100" height="30" align="left"><!--{$language.form_content_title}--></td>
		<td><input type="text" name="content_title" style="width:334px" value="<!--{$content.title|escape:html}-->" class="input"/>&nbsp;<select name="color" style="width:100px">
		<option value="">选择颜色</option>
		<option value="blue" style="color:blue">蓝色</option>
		<option value="BlueViolet" style="color:BlueViolet">亮紫</option>
		<option value="Brown" style="color:Brown">褐色</option>
		<option value="DarkMagenta" style="color:DarkMagenta"> 深紫色</option>
		<option value="DarkRed" style="color:DarkRed">暗红</option>
		<option value="Darkorange" style="color:Darkorange">橙色</option>
		</select></td>
		
		</tr>

		<tr>
		<td valign="top" align="right"><!--{$language.form_content_text}--></td>
		<td><textarea name="content_text" id="content_text" style="width:740px;height:300px"><!--{$content.text|escape:html}--></textarea>
		<!--{$language.form_content_text_tip}-->
		</td>
		</tr>


		<tr>
		<td width="100" height="30" align="right"><!--{$language.form_content_url}--></td>
		<td><input type="text" name="content_url" size="80" value="<!--{$content.url|escape:html}-->" class="input"/>
		(<!--{$language.form_content_url_text}-->)
		</td>
		</tr>


		<tr>
		<td height="30" align="right"><!--{$language.form_content_thumb}--></td>
		<td><input type="file" name="content_thumb" class="input"/>
		<!--{if  !$content.thumb_http}-->
		<!--{if $content.thumb}-->
		<a href="/uploads/<!--{$content.thumb}-->" target="_blank"><img src="/uploads/<!--{$content.thumb}-->" alt="" align="absmiddle" style="width:20px;height:20px;border:1px solid #ccc;padding:1px"/></a>
		<input type="checkbox" name="content_thumb_delete" value="<!--{$content.thumb}-->" /> <!--{$language.delete}-->
		<input type="hidden" name="content_thumb_old" value="<!--{$content.thumb}-->"/>
		<!--{/if}-->
		<!--{/if}-->
		</td>
		</tr>

		<tr>
		<td height="30">&nbsp;</td>
		<td>
		<input type="text" name="content_thumb_http" size="110" value="<!--{$content.thumb_http}-->" class="input"/>
		</td>
		</tr>


		<tr>
		<td height="30" valign="top" align="right"><!--{$language.form_content_attachment}--></td>
		<td>
				<!--{foreach from=$content.attachment item=attachment}-->
			<div style="padding:4px 0"><input type="checkbox" name="content_attachment_delete[]" value="{$attachment.id}" />&nbsp;<a href="uploads/{$attachment.name}" target="_blank">{$attachment.name}</a>&nbsp<a href="javascript:;" onclick="editor_insert_attachment('{$attachment.name}');">[+]</a></div>
			<!--{/foreach}-->
			<input type="file" name="content_attachment[]" class="input"/>&nbsp;<a href="javascript:;" onclick="addattachment(this)">[+]</a>
			<div id="content_attachment"></div>
		</td>
		</tr>


		<tr>
		<td width="100" height="30" valign="top" align="right"><!--{$language.form_content_link}--></td>
		<td>
		<input type="hidden" name="content_link_count" value="<!--{foreach from=$content.link item=link name=content_link_count}--><!--{$link.id}--><!--{if !$smarty.foreach.content_link_count.last}-->,<!--{/if}--><!--{/foreach}-->" />
			<!--{foreach from=$content.link item=link}-->
			<div style="padding:4px 0">
				<input type="text" name="content_link_{$link.id}" value="{$link.url}" class="input" size="110" />
				
				<input type="checkbox" name="content_link_delete[]" value="{$link.id}" />
				<!--{$language.delete}-->
				
				</div>
			<!--{/foreach}-->
			<input type="text" name="content_link[]" size="110" class="input"/>&nbsp;<a href="javascript:;" onclick="addlink(this)">[+]</a>
			<div id="content_link"></div>
		</td>
		</tr>
		<tr>
		<td width="100" height="30" align="right"><!--{$language.form_content_keywords}--></td>
		<td><input type="text" name="content_keywords" size="40" value="<!--{$content.keywords|escape:html}-->" class="input"/></td>
		</tr>
		<tr>
		<td width="100" height="30" align="right"><!--{$language.form_content_description}--></td>
		<td><textarea name="content_description" class="input" rows="4" cols="80"><!--{$content.description|escape:html}--></textarea></td>
		</tr>
		<tr>
		<td height="30" align="right"><!--{$language.form_content_password}--></td>
		<td><input type="text" name="content_password" size="40" value="<!--{$content.password}-->" class="input"/></td>
		</tr>


		<tr>
		<td height="30" align="right"><!--{$language.form_content_attribute}--></td>
		<td>

<input type="checkbox" name="content_is_best" value="1" {if $content.is_best==1}checked{/if} /><!--{$language.form_content_is_best}-->
<input type="checkbox" name="content_is_comment" value="1" {if $content.is_comment==1}checked{/if} /><!--{$language.form_content_is_comment}-->

<input type="checkbox" name="content_state" value="1" {if $content.state==1}checked{/if} /> <!--{$language.form_content_is_show}-->
		</td>
		</tr>
		<input type="hidden" name="content_id" value="<!--{$content.id}-->"/>
		<input type="hidden" name="channel_id" value="<!--{$content.channel_id}-->"/>	
		<tr>
		<td width="100" height="30">&nbsp;</td>
		<td><input type="submit" value="<!--{$language.submit}-->" class="btn"/></td>
		</tr>
	</table>
	
</form>
				
				
				
				
				
				</div>
			
					
					
					
					
					
					
					
					
				</div> <!-- /stat-container -->
				
				
				<!-- /widget -->
				
			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->
<!--{include file="footer.htm"}-->		

</body>
</html>