<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<title><!--{$language.title}--></title>
<script type="text/javascript" src="scripts/jquery.js"></script>
</head>
<body>
<!--{include file="top.htm"}-->
<div id="content">
	
	<div class="container">
		
		<div class="row">
<!--{include file="left.htm"}-->
<div class="span9">
				
				<h1 class="page-title">
					
					<a href="?action=start&do=log_clear" onclick="return confirm('<!--{$language.log_clear_confirm}-->')"><!--{$language.log_clear}--></a>
&raquo;&nbsp;<!--{$language.log_list}-->
				</h1>
				
				<div class="stat-container">
				
				
				<table cellspacing="0" cellpadding="0" width="100%">
	<!--{foreach from=$log_list item=log}-->
	<tr>
	<td title="<!--{$log.agent}-->">[<b><!--{$log.admin}--></b>]&nbsp;<!--{$log.info}--></td>
	<td height="26" width="300" ><!--{$log.address}-->(<!--{$log.ip}-->)</td>
	<td height="26" width="150" align="center"><!--{$log.time}--></td>
	</tr>
	<tr><td height="1" bgcolor="#eeeeee" colspan="4"></td></tr>
	<!--{foreachelse}-->
	<tr><td height="50" colspan="4" align="center"><!--{$language.nodata}--></td></tr>
	<!--{/foreach}-->
	<!--{if $pagebar}-->
	<tr><td height="26"  colspan="4" align="right"><!--{$pagebar}--></td></tr>
	<!--{/if}-->
	</table>
				
				
				
				</div>
			
					
					
					
					
					
					
					
					
				</div> <!-- /stat-container -->
				
				
				<!-- /widget -->
				
			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->
<!--{include file="footer.htm"}-->		

</body>
</html>