<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<title><!--{$language.title}--></title>
<script type="text/javascript" src="scripts/jquery.js"></script>
</head>
<body>
<!--{include file="top.htm"}-->
<div id="content">
	
	<div class="container">
		
		<div class="row">
<!--{include file="left.htm"}-->
<div class="span9">
				
				<h1 class="page-title">
					<a href="?action=config&do=menu_add"><!--{$language.menu_add}--></a>
&raquo;&nbsp;<!--{$language.menu_list}-->
					
				</h1>
				
				<div class="stat-container">
				
				

<div class='item'>
	<table cellspacing="0" cellpadding="0" width="100%">
	<!--{foreach from=$menu_list item=menu}-->
	<tr>
	<td height="28" align="center" width="40"><!--{$menu.id}--></td>
	<td><a href="?action=config&do=menu_edit&menu_id=<!--{$menu.id}-->" class="name"><!--{$menu.name}--></a>&nbsp;(<!--{$menu.link}-->)</td>
	<td width="50" align="center" >
	<!--{if $menu.mode==0}-->
		<!--{$language.form_menu_mode_1}-->
	<!--{else}-->
		<!--{$language.form_menu_mode_2}-->
	<!--{/if}-->
	</td>
	<td width="100" align="center" >
	<a href="?action=config&do=menu_edit&menu_id=<!--{$menu.id}-->"><!--{$language.edit}--></a>
	<a href="?action=config&do=menu_delete&menu_id=<!--{$menu.id}-->" onclick="return confirm('<!--{$language.confirm_delete}-->')"><!--{$language.delete}--></a>
	</td>
	</tr>
	<tr><td height="1" bgcolor="#eeeeee" colspan="4"></td></tr>
		<!--{foreach from=$menu.children item=child}-->
		<tr>
		<td height="28" align="center" width="40">&nbsp;</td>
		<td>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="?action=config&do=menu_edit&menu_id=<!--{$child.id}-->" class="name"><!--{$child.name}--></a>&nbsp;(<!--{$child.link}-->)</td>
		<td width="50" align="center" >&nbsp;

		</td>
		<td width="100" align="center" >
		<a href="?action=config&do=menu_edit&menu_id=<!--{$child.id}-->"><!--{$language.edit}--></a>
		<a href="?action=config&do=menu_delete&menu_id=<!--{$child.id}-->" onclick="return confirm('<!--{$language.confirm_delete}-->')"><!--{$language.delete}--></a>
		</td>
		</tr>
		<tr><td height="1" bgcolor="#eeeeee" colspan="4"></td></tr>
		<!--{/foreach}-->
	<!--{foreachelse}-->
	<tr><td height="50" colspan="2" align="center"><!--{$language.nodata}--></td></tr>
	<!--{/foreach}-->
	</table>
</div>

				
				
				
				
				</div>
			
					
					
					
					
					
					
					
					
				</div> <!-- /stat-container -->
				
				
				<!-- /widget -->
				
			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->
<!--{include file="footer.htm"}-->		

</body>
</html>