<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<title><!--{$language.title}--></title>
<script type="text/javascript" src="scripts/jquery.js"></script>
</head>
<body>
<!--{include file="top.htm"}-->
<div id="content">
	
	<div class="container">
		
		<div class="row">
<!--{include file="left.htm"}-->
<div class="span9">
				
				<h1 class="page-title">
					<a href="?action=game&do=server_add&game_id=<!--{$game_id}-->">添加服务器</a>
&raquo;&nbsp;服务器列表
					
				</h1>
				
				<div class="stat-container">
				
				<table cellspacing="1" cellpadding="0" width="100%">
	<tr class="titlebg">
	<td height="20" width="40" align="center">ID</td>
	<td width="100" align="center">所属游戏</td>
	<td width="80" align="center">编号</td>
	<td>名称</td>
	<td width="200" align="center">操作</td>
	</tr>
	<tr><td height="1" bgcolor="#eeeeee" colspan="5"></td></tr>
	<!--{foreach from=$server_list item=server}-->
	<tr>
	<td height="40" width="40" align="center"><!--{$server.id}--></td>
	<td width="100" align="center"><!--{$server.game_name}--></td>
	<td width="80" align="center"><!--{$server.no}--></td>
	<td><a href="?action=game&do=server_edit&server_id=<!--{$server.id}-->"><!--{$server.name}--></a></td>
	<td width="200" align="center">
	<a href="?action=game&do=server_edit&server_id=<!--{$server.id}-->"><!--{$language.edit}--></a>
	| <a href="?action=game&do=server_delete&server_id=<!--{$server.id}-->" onclick="return confirm('<!--{$language.confirm_delete}-->')"><!--{$language.delete}--></a>
	</td>
	</tr>
	<tr><td height="1" bgcolor="#eeeeee" colspan="5"></td></tr>
	<!--{foreachelse}-->
	<tr><td height="50" colspan="5" align="center"><!--{$language.nodata}--></td></tr>
	<!--{/foreach}-->
	<tr><td height="50" colspan="5" align="right"><!--{$pagebar}--></td></tr>
	</table>
				
				
				
				
				</div>
			
					
					
					
					
					
					
					
					
				</div> <!-- /stat-container -->
				
				
				<!-- /widget -->
				
			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->
<!--{include file="footer.htm"}-->		

</body>
</html>