<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<title><!--{$language.title}--></title>
<script type="text/javascript" src="scripts/jquery.js"></script>
</head>
<body>
<!--{include file="top.htm"}-->
<div id="content">
	
	<div class="container">
		
		<div class="row">
<!--{include file="left.htm"}-->
<div class="span9">
				
				<h1 class="page-title">
					&raquo;&nbsp;推广分析
					
				</h1>
				
				<div class="stat-container">
				
				<table width="100%" border="0" cellspacing="2" cellpadding="2">
      <tr>
        <td>推广渠道数据分析：</td>
      </tr>
    </table>
	<table width="60%" border="0" cellspacing="1" cellpadding="1">
      <tr>
        <td width="130" height="30" align="right" bgcolor="#eef6fb">注册用户：</td>
        <td bgcolor="#eef6fb"><!--{$sp_data.reg_count}--></td>
        </tr>
	  <tr>
        <td width="130" height="30" align="right" bgcolor="#eef6fb">付费用户：</td>
        <td bgcolor="#eef6fb"><!--{$sp_data.pay_count}--></td>
        </tr>
      <tr>
        <td height="30" align="right" bgcolor="#eef6fb">付费金额：</td>
        <td bgcolor="#eef6fb"><!--{$sp_data.pay_money}-->&nbsp;&nbsp;&nbsp;&nbsp;<a href="?action=game&do=pay_list"><span style="color:red;">(查看充值情况)</span></a></td>
      </tr>
      <tr>
        <td height="30" align="right" bgcolor="#eef6fb">ARPU值：</td>
        <td bgcolor="#eef6fb"><!--{$sp_data.pay_arpu}--></td>
      </tr>
    </table>
	<br />
	<table width="60%" border="0" cellspacing="1" cellpadding="1">
      <tr>
        <td width="130" height="30" align="right" bgcolor="#eef6fb">新增注册量：</td>
        <td width="130" bgcolor="#eef6fb">0</td>
        <td width="130" align="right" bgcolor="#eef6fb">付费率：</td>
        <td bgcolor="#eef6fb">0</td>
      </tr>
      <tr>
        <td width="130" height="30" align="right" bgcolor="#eef6fb">新增登录量：</td>
        <td bgcolor="#eef6fb">0</td>
        <td align="right" bgcolor="#eef6fb">新增付费用户量：</td>
        <td bgcolor="#eef6fb">0</td>
      </tr>
      <tr>
        <td width="130" height="30" align="right" bgcolor="#eef6fb">登录注册率：</td>
        <td bgcolor="#eef6fb">0</td>
        <td align="right" bgcolor="#eef6fb">付费用户流失数量：</td>
        <td bgcolor="#eef6fb">0</td>
      </tr>
      <tr>
        <td width="130" height="30" align="right" bgcolor="#eef6fb">活跃用户数量：</td>
        <td bgcolor="#eef6fb">0</td>
        <td align="right" bgcolor="#eef6fb">付费流失率：</td>
        <td bgcolor="#eef6fb">0</td>
      </tr>
      <tr>
        <td width="130" height="30" align="right" bgcolor="#eef6fb">忠诚用户数量：</td>
        <td bgcolor="#eef6fb">0</td>
        <td align="right" bgcolor="#eef6fb">注册转付费率：</td>
        <td bgcolor="#eef6fb">0</td>
      </tr>
      <tr>
        <td height="30" align="right" bgcolor="#eef6fb">流失用户数量：</td>
        <td bgcolor="#eef6fb">0</td>
        <td align="right" bgcolor="#eef6fb">&nbsp;</td>
        <td bgcolor="#eef6fb">&nbsp;</td>
      </tr>
      <tr>
        <td height="30" align="right" bgcolor="#eef6fb">流失率：</td>
        <td bgcolor="#eef6fb">0</td>
        <td align="right" bgcolor="#eef6fb">&nbsp;</td>
        <td bgcolor="#eef6fb">&nbsp;</td>
      </tr>
      <tr>
        <td height="30" align="right" bgcolor="#eef6fb">忠诚流失率：</td>
        <td bgcolor="#eef6fb">0</td>
        <td align="right" bgcolor="#eef6fb">&nbsp;</td>
        <td bgcolor="#eef6fb">&nbsp;</td>
      </tr>
      <tr>
        <td height="30" align="right" bgcolor="#eef6fb">忠诚度：</td>
        <td bgcolor="#eef6fb">0</td>
        <td align="right" bgcolor="#eef6fb">&nbsp;</td>
        <td bgcolor="#eef6fb">&nbsp;</td>
      </tr>
    </table>
				
				
				
				
				</div>
			
					
					
					
					
					
					
					
					
				</div> <!-- /stat-container -->
				
				
				<!-- /widget -->
				
			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->
<!--{include file="footer.htm"}-->		
</body>
</html>