<dl class='leftmenu'>
<dt><!--{$language.menu_config}--></dt>
<dd><a href='?action=config&do=config'><!--{$language.menu_config_1}--></a></dd>
<dd><a href='?action=config&do=menu_list'><!--{$language.menu_config_2}--></a></dd>
<dd><a href='?action=config&do=admin_list'><!--{$language.menu_config_3}--></a></dd>

<dt><!--{$language.menu_content}--></dt>
<dd><a href='?action=content&do=channel_list'><!--{$language.menu_content_4}--></a></dd>
<dd><a href='?action=game&do=game_list'><!--{$language.menu_content_5}--></a></dd>
<dd><a href='?action=game&do=pay_list'><!--{$language.menu_content_6}--></a></dd>
<dd><a href='?action=game&do=card_list'><!--{$language.menu_content_7}--></a></dd>

<dt><!--{$language.menu_member}--></dt>
<dd><a href='?action=member&do=member_list'><!--{$language.menu_member_1}--></a></dd>

<dt>模板管理</dt>
<dd><a href='?action=template&do=template_list'>编辑模板</a></dd>

<dt><!--{$language.menu_other}--></dt>
<dd><a href='?action=other&do=link_list'><!--{$language.menu_other_3}--></a></dd>
<dd><a href='?action=game&do=sp_data'><!--{$language.menu_other_4}--></a></dd>
<dd><a href='?action=game&do=sp_cash'>提现申请</a></dd>
</dl>
