@charset "gb2312";
/*这是后台右测的css特效*/
*
{
	font:normal 12px "Tahoma","Arial","serif","sans-serif";
}
body
{
	font:normal 12px "Tahoma","Arial","serif","sans-serif";
	margin:0px;
	padding:0px;
	overflow:none;
	overflow-x:hidden;
	overflow-y:scroll;
}
a
{
	border: 0px;
	padding: 0px;
	margin: 0px;
}

a:link
{
	color: #000000;
	text-decoration: none;
}

a:visited
{
	color: #000000;
	text-decoration: none;
}

a:hover
{
	color: #ff0000;
	text-decoration: underline;
}
table,tr,td
{
	font:normal 12px "Tahoma","Arial","serif","sans-serif";
	word-wrap:break-word;
	word-break:break-all;
}
input
{
	height:20px;
}
textarea
{
	font:normal 12px "Tahoma","Arial","serif","sans-serif";
	background-color: #F5F5F5;
}
.Top
{
    position:relative;
    width:100%;
    height:25px;
    background:#FFFFE1;
    border-top:1px #7F9DB9 solid;
    border-bottom:1px #716F64 solid;
	line-height:120%;
}
.short_input
{
	width:70px;
	height:20px;
	vertical-align: middle;
}
.long_input
{
	width:400px;
	height:20px;
	vertical-align: middle;
}
.css_input
{
	width:400px;
	height:20px;
	vertical-align: middle;
}
.root
{
    position:relative;
	height:27px;
	line-height:27px;
	padding-left:12px;
}

/*分页样式*/
.pagelist
{
	margin:3px;
	padding:3px;
	border:0px;
}
.pagelist .n
{
	border:1px #D2DFE6 solid;
	padding-left:5px;
	padding-right:5px;
	*padding-top:3px;
	*padding-bottom:3px;
	background:#FFFFFF;
	font-size:12px;
	font-family:"宋体","Tahoma","Arial";
}
.pagelist .m
{
	border:1px #D2DFE6 solid;
	padding-left:5px;
	padding-right:5px;
	background:#E7EEF1;
	color:red;
	font-size:12px;
	font-family:"宋体","Tahoma","Arial";
}
.pagelist a
{
	font-size:12px;
	font-family:"宋体","Tahoma","Arial";
}

/***注意事项样式********/
.html_notice
{
	line-height:150%;
}
.html_notice li
{
	color:#7D0000;
	list-style-type:square;
	padding-left:15px;
}


/*用于新风格的样式设置*/
.table
{
	position:relative;
	margin:1px;
	width:99.4% !important;
	width:100%;
	border:1px #FFFFFF solid;
	clear:both;
}

.docket
{
	height:48px !important;
	height:50px;
}

.fckedit
{
	height:400px !important;
	height:402px;
}

.table1
{
	border:1px #2693FF solid;
	background:#CAE4FF;
}

.table2
{
	position:relative;
	margin:1px;
	width:99.4% !important;
	width:100%;
	border:1px #2693FF solid;
	background:#CAE4FF;
	padding-top:3px;
	padding-bottom:3px;
}

.table .left
{
	width:150px;
	text-align:left;
}

.table .right
{
	text-align:left;
	padding:1px;
}
/*灰色文字，用于提示信息*/
.clue_on
{
	color:#737373;
	font:normal 12px "宋体","Arial","Tahoma","sans-serif";
}

.msg_checkbox
{
	width:20px;
}
.msg_subject_id
{
	width:60px;
	text-align:center;
}
.msg_postdate
{
	width:130px;
	text-align:center;
}
.msg_subject
{
	/**/
}
.msg_hits
{
	width:80px;
	text-align:center;
}
.msg_act
{
	width:50px;
	text-align:center;
}
.msg_attribute
{
	text-align:center;
	width:80px;
}
.msg_category
{
	width:80px;
	text-align:center;
}
/*鼠标移动特效*/
.m_over
{
	background:#CAE4FF;
}
.m_out
{
	background:#FFFFFF;
}
.b_b
{
	border-bottom:1px #0F3473 solid;
}