BODY { border:none;SCROLLBAR-FACE-COLOR: #D4D0C8; SCROLLBAR-HIGHLIGHT-COLOR: #D4D0C8; SCROLLBAR-SHADOW-COLOR: #999999; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #ff9900; SCROLLBAR-TRACK-COLOR: #D4D0C8; SCROLLBAR-DARKSHADOW-COLOR: #D4D0C8
; line-height: 22px
; background-color: #D4D0C8
; FONT-SIZE: 9pt; COLOR: #000000
;font-family: Tahoma,Arial,serif,sans-serif; 
}
INPUT { BEHAVIOR: url(admin/tpl/images/inputxp.htc); }
SELECT{font-family: Verdana, Arial, ו;font-size: 9pt;color: #0560A6;border: #7F9DB9 1px solid;height: 20px;}
A:link {
	FONT-SIZE: 9pt; COLOR: #000000 ; TEXT-DECORATION: none;
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: none;
}
A:active {
	FONT-SIZE: 9pt; COLOR: #000000; 
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #990000; 
}
tr {
	FONT-SIZE: 9pt; COLOR: #000000; 
}
.bg_line {  border: solid; top: -10px; clip:  rect(   ); border-color: #CCCCCC #CCCCCC #FFFFFF; color: #999999; border-width: 0px 0px 1px; text-decoration: none}
.button_a  {cursor: hand;FONT-SIZE: 9pt; border-color: #FFFFFF #999999 #999999 #FFFFFF; padding-top: 2px; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px;; background-color: D4D0C8}
.button_b {cursor: hand;FONT-SIZE: 9pt; padding-top: 2px; ; background-color: D4D0C8; border: D4D0C8; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.headtd1  {cursor: hand;FONT-SIZE: 9pt; border-color: #FFFFFF #999999 #999999 #FFFFFF; padding-top: 2px; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px;; background-color: D4D0C8}
.headtd2 {cursor: hand;FONT-SIZE: 9pt; padding-top: 2px; ; background-color: D4D0C8; border: D4D0C8; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.bodytd  {  background: #d6d3ce; border: 0px outset; border-color: #d6d3ce #d6d3ce #d6d3ce #d6d3ce; font-size: 9pt}
.input_a{  background-color: #E6E6E6; color: #000000; BORDER-BOTTOM: #888888 1px solid; BORDER-LEFT: #888888 1px solid; BORDER-RIGHT: #888888 1px solid; BORDER-TOP: #888888 1px solid; clip:    rect(   ); border: 1px #999999 solid; vertical-align: middle}
.cursor {cursor: hand;}
.about {  line-height: 21px}
legend{color:#ffffff;background-color:#817F7B;padding:3 15 3 15;}
.tbtitle{background:#B5B2AD;}
