<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="php5.2" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\usr\local\php\php-5.2\php-cgi.exe" resourceType="Either" />
        </handlers>
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="403" subStatusCode="14" path="/403.html" responseMode="ExecuteURL" />
            <error statusCode="404" subStatusCode="-1" path="/404.html" responseMode="ExecuteURL" />
            <error statusCode="500" subStatusCode="-1" path="/500.html" responseMode="ExecuteURL" />
        </httpErrors>
        <defaultDocument enabled="true">
            <files>
                <add value="default.aspx" />
                <add value="default.asp" />
                <add value="index.asp" />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
        </staticContent>
    </system.webServer>
</configuration>
