<ion-view  hide-tabs="true">
  <ion-nav-title>绑定并登录</ion-nav-title>
  <ion-nav-buttons side="left" style="color:#fff">
    <div class="button icon ssk button-clear" ng-click="goBack()"><i class="ic ic_arrow_left"></i></div>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" style="background-color:#fafafa;" go-back>
    <div class="wrapper">
      <div class="registerCon" style="padding-top:22px!important;">
        <ul>
          <li class="accAndPwd">
            <dl>
              <input maxlength="18" type="password" ng-model="cpw.login_password" placeholder="手机号已注册，请输入密码绑定" />
            </dl> 
          </li>
          <li><a id="btnNext" href="javascript:;" ng-click="binding(2)" class="orangeBtn loginBtn">绑定并登录</a></li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
