<ion-view hide-tabs="true">
  <ion-nav-title>意见反馈</ion-nav-title>
  <ion-nav-buttons side="left" style="color:#fff">
    <div class="button icon ssk button-clear" ng-click="goBack()"><i class="ic ic_arrow_left"></i></div>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" style="background-color:#fafafa;" go-back>
    <div class="xjl_yjfk">
      <div class="xjl_fl" style="padding-top:10px;padding-bottom:10px;">
        <select ng-model="user.type" class="yjfk ico-select"><option value='1'>投诉建议</option><option value='2'>商品配送</option><option value='3'>售后服务</option></select>
      </div>
      <!--<div class="xjl_lxdh">-->
        <!--<input ng-model="user.nickname" type="text" class="lxfs" placeholder="请输入您的中文昵称" maxlength='10'/>-->
      <!--</div>-->
      <div class="xjl_lxdh" style="padding-top:0px">
        <input ng-model="user.phone" type="text" class="lxfs" placeholder="请输入联系方式" maxlength='50'/>
      </div>
      <!--<div class="xjl_lxdh">-->
        <!--<input ng-model="user.email" type="text" class="lxfs" placeholder="请输入电子邮件" maxlength='50'/>-->
      <!--</div>-->
      <div class="xjl_text" style="padding-top:0px">
        <textarea ng-model="user.content" cols="" rows="" class="xjl_yjfktext" placeholder="请在这里输入内容" maxlength='150'></textarea>
        <a href="javascript:;" ng-click="setLy()" class="xjl_tj" style="font-size:16px;">提交</a>
      </div>
    </div>
  </ion-content>
</ion-view>
