<ion-view  hide-tabs="true">
  <ion-nav-title>我的生日</ion-nav-title>
  <ion-nav-buttons side="left" style="color:#fff">
    <div class="button icon ssk button-clear" ng-click="goBack()"><i class="ic ic_arrow_left"></i></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div class="icon rbtn" ng-click="setBirthday()"><a style="color:#fff;font-size:16px;" href="javascript:;">完成</a></div>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" style="background-color:#fafafa;" go-back>
    <div class="xjl_yjfk">
      <div class="xjl_lxdh">
        <time-picker title="选择生日" load-date-time="data.default" loadLazy="true" hidetime="true" yearstart="1910" format="yyyy-MM-dd" time-picker-result="data.result" style="font-size:14px;line-height:35px;height:35px;background-color:#fff;color:#a5a5a5!important;width:100%;padding:0 5px!important;border-radius:3px;border:1px solid #dedede!important;"></time-picker>
        <div class="ncxg_zs">生日一年内只能修改一次。</div>
      </div>
    </div>
  </ion-content>
</ion-view>
