<ion-view  hide-tabs="true">
  <ion-nav-title>隐私设置</ion-nav-title>
  <ion-nav-buttons side="left" style="color:#fff">
    <div class="button icon ssk button-clear" ng-click="goBack()"><i class="ic ic_arrow_left"></i></div>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div class="icon rbtn" ng-click="setSecret()"><a style="color:#fff;font-size:16px;" href="javascript:;">完成</a></div>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" style="background-color:#fafafa;" go-back>
    <div class="cardexplain show_more">
      <ul class="round operate navlist" style="border-radius:0 0 10px 10px;border-top:0">
        <li class="mobile-font">
          <table class="icardTable">
            <tbody>
            <tr>
              <td style="border:0;width:5px;"></td>
              <td>
                <div class="list-titel no-img">
                  元行记录
                  <p style="color:#999;font-size:12px">设置是否允许让其它会员看到您的元行记录</p>
                  <div class="czje radios">
                    <div ng-click="exchange(1,$event)" data-val="0" class="{{record[0]}}">所有人可见<i class="ico-selected u-ico"></i></div>
                    <div ng-click="exchange(1,$event)" data-val="1" class="{{record[1]}}">好友可见<i class="ico-selected u-ico"></i></div>
                    <div ng-click="exchange(1,$event)" data-val="2" class="{{record[2]}}">仅自己可见<i class="ico-selected u-ico"></i></div>
                  </div>
                </div>
                <div class="borderD"></div>
              </td>
            </tr>
            <tr>
              <td style="border:0;width:5px;"></td>
              <td>
                <div class="list-titel no-img">
                  获得的商品
                  <p style="color:#999;font-size:12px">设置是否允许让其它会员看到您获得的商品</p>
                  <div class="czje radios">
                    <div ng-click="exchange(2,$event)" data-val="0" class="{{goods[0]}}">所有人可见<i class="ico-selected u-ico"></i></div>
                    <div ng-click="exchange(2,$event)" data-val="1" class="{{goods[1]}}">好友可见<i class="ico-selected u-ico"></i></div>
                    <div ng-click="exchange(2,$event)" data-val="2" class="{{goods[2]}}">仅自己可见<i class="ico-selected u-ico"></i></div>
                  </div>
                </div>
                <div class="borderD"></div>
              </td>
            </tr>
            <tr>
              <td style="border:0;width:5px;"></td>
              <td>
                <div class="list-titel no-img">
                  晒单
                  <p style="color:#999;font-size:12px">设置是否允许让其它会员看到您的商品晒单</p>
                  <div class="czje radios">
                    <div ng-click="exchange(3,$event)" data-val="0" class="{{orderdetail[0]}}">所有人可见<i class="ico-selected u-ico"></i></div>
                    <div ng-click="exchange(3,$event)" data-val="1" class="{{orderdetail[1]}}">好友可见<i class="ico-selected u-ico"></i></div>
                    <div ng-click="exchange(3,$event)" data-val="2" class="{{orderdetail[2]}}">仅自己可见<i class="ico-selected u-ico"></i></div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table> </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
