<ion-modal-view>
  <ion-header-bar class="dark_blue-bg">
    <h1 class="title" style="color:#fff;">最新公告</h1>
    <div class="buttons">
      <button class="button button-clear" style="color:#fff;" ng-click="closeRootModal()">关闭</button>
    </div>
  </ion-header-bar>
  <ion-content overflow-scroll="true" style="background-color:#fff;">
    <div class="notice-detail">
      <h5>{{rntitle}}</h5>
      <div class="notice-content" dir="dir" content="rproDetail"></div>
    </div>
  </ion-content>
  </ion-content>
</ion-modal-view>
