<ion-view  hide-tabs="true">
  <ion-nav-title>充值地址</ion-nav-title>
  <ion-nav-buttons side="left" style="color:#fff">
    <div class="button icon ssk button-clear" ng-click="goBack()"><i class="ic ic_arrow_left"></i></div>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" style="background-color:#fafafa;" go-back>
    <div class="xjl_fl">
      <div style="margin-top:20px">
        <input type="text" placeholder="{{placeholder}}" class="shdz_1"  ng-model="user.count" id="count"/>
      </div>
      <a href="javascript:void(0);" ng-click="submit()" class="xjl_tj">确认充值</a>
    </div>

  </ion-content>
</ion-view>
