<ion-view  hide-tabs="true">
  <ion-nav-title style="font-size: 16px;">获得的商品</ion-nav-title>
  <ion-nav-buttons side="left" style="color:#fff">
    <div class="button icon ssk button-clear" ng-click="goBack()"><i class="ic ic_arrow_left"></i></div>
  </ion-nav-buttons>
  <div class="zhmx nav-fixed">
    <ul>
      <li style="width:50%;" class="{{tab[0].tabClass}}" ng-click="tabAc(0)"><a href="javascript:void(0)">购买获得商品</a></li>
      <li style="width:50%;" class="{{tab[1].tabClass}}" ng-click="tabAc(1)"><a href="javascript:void(0)">活动获得商品</a></li>
    </ul>
  </div>
  <ion-content overflow-scroll="true" style="background-color:#fafafa;" go-back>
    <!--<ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>-->
    <div ng-if="tab[0].isShow" style="padding-top:55px;">
      <a class='loading' style="background:initial;box-shadow:none;" href='javascript:void(0)' ng-if="!isbuyRecordShow">暂无购买获得商品记录</a>
      <div ng-if="isbuyRecordShow" class="pane1" style="height:auto;">
        <div class="prolist">
          <div class="scroll" dir="dir" content="myText"></div>
        </div>
      </div>
      <ion-infinite-scroll ng-if="canLoadRecordBuy.code" on-infinite="loadBuyMore()" distance="1%"></ion-infinite-scroll>
    </div>
    <div ng-if="tab[1].isShow" style="padding-top:55px;">
      <a class='loading' style="background:initial;box-shadow:none;" href='javascript:void(0)' ng-if="!isLuckDrawShow">暂无活动获得商品记录</a>
      <div ng-if="isLuckDrawShow" class="pane1" style="height:auto;">
        <div class="prolist">
          <div class="scroll" dir="dir" content="myActText"></div>
        </div>
      </div>
      <ion-infinite-scroll ng-if="canLoadRecordAct.code" on-infinite="loadLuckMore()" distance="1%"></ion-infinite-scroll>
    </div>

  </ion-content>
</ion-view>
