@charset "utf-8";
/* CSS Document */
.main{ width:1000px; margin:0 auto;}
.col1{ width:229px; margin-right:11px;}
.col2{ width:229px;}
.box3{ width:229px; overflow:hidden;}
.box3 h3{ display:block; width:229px; height:35px; overflow:hidden; background-image:url(img/spritebtn.gif); background-repeat:no-repeat; position:relative; margin-top:28px;}
.box3 h3 span{ display:block;  color:#666; padding:11px 0 0 47px; font-size:13px;}
.box3 h3 a.more{ display:block; width:40px; height:20px; line-height:20px; overflow:hidden; color:#777; font-weight:normal; position:absolute; top:9px; right:15px;}
.box3 h3 a.more:link,.box3 h3 a.more:visited{ color:#777; text-decoration:none;}
.box3 h3 a.more:hover{ color:#fa9217; text-decoration:none;}


/*---zixun---*/
.box3 h3.zTh{ background-position:0 -613px;  margin-top:10px;}
.newZixun{ height:245px; overflow:hidden; margin-bottom:10px;}
.zxContent{ width:200px; margin:0 auto; padding:5px 0;}
.newZixun ul li a{ display:block; height:29px; line-height:29px;  overflow:hidden; border-bottom:1px dotted #d2dfe8; background:url(img/dt.gif) no-repeat 0 center; padding-left:10px; color:#666; white-space:nowrap;}
.newZixun ul li a:link,.newZixun ul li a:visited{ color:#666; text-decoration:none;}
.newZixun ul li a:hover{ color:#fa9217; text-decoration:none;  background:url(img/dton.gif) no-repeat 0 center; }
.newZixun ul li a.no{ border-bottom:0;}
/*---zixun---*/

/*---zuixinhuodong---*/
.box3 h3.acTh{ background-position:0 -413px; }
.box3 h3.acTh{ background-position:0 -413px;}
.newActive{ height:245px;}
.newActive .day{ display:block; width:227px; background:url(img/spritebtn.gif) no-repeat -1px -448px; height:38px; line-height:40px; text-align:center; color:#f5f5f5; margin:0 auto;}
.newContents{ width:227px; height:207px; margin:0 auto; position:relative;overflow:hidden;}
.newContents button{ display:block; width:227px; height:13px; overflow:hidden; border:0; text-indent:-999em; cursor:pointer; position:absolute;}
.newContents button#btn1{ position:absolute; top:0; left:0px; background:url(img/up.gif) no-repeat 0 0;}
.newContents button#btn2{ position:absolute; bottom:0; left:0px; background:url(img/down.gif) no-repeat 0 0;}
.newContents ul{ display:block; padding:17px 0 0;}
.newContents ul li{ display:block; height:58px;}
.newContents dl{ display:block; height:56px; border-bottom:1px dotted #d2dfe8; overflow:hidden;}
.newContents dl.no{ border-bottom:0;}
.newContents dl dt,.newContents dl dd{ float:left;}
.newContents dl dt img{ display:block;  width:47px; height:47px; padding:1px; background:#fbfbfb; border:1px solid #e0e1e2; margin:3px 8px 0 13px ;}
.newContents dl dd{ width:145px; padding-top:10px;}
.newContents dl dd span{ display:block; height:17px; overflow:hidden; line-height:17px;}
.newContents dl dd span strong{ float:left; color:#666; font-size:12px; width:100px; overflow:hidden;}
.newContents dl dd span var{ float:right; background:url(img/acday.gif) no-repeat 0 0; width:43px; height:17px; overflow:hidden; text-align:center; line-height:17px; color:#fff;}
.newContents dl dd p{ display:block; width:144px;  color:#acb2c1; height:26px;  line-height:26px; overflow:hidden;}
/*---zuixinhuodong---*/

/*---zuixinkaifu---*/
.box3 h3.serTh{ background-position:0 -507px;}
.newSer{ height:182px;_ height:181px; overflow:hidden;}
.newSer ul{ display:block; width:201px; margin:0 auto}
.list li.title{  height:28px; line-height:28px; color:#444; border-bottom:1px solid #e5ecf0;}
.list li{border-bottom:1px dotted #d2dfe8; width:201px; height:30px; line-height:30px; *height:28px; *line-height:28px; _height:30px; _line-height:30px;   color:#2f6895; overflow:hidden;}
.list span{ display:inline-block; *display:inline; *zoom:1; float:left;}
.list span.serName{ width:117px; text-align:center;}
.list .sort{display:inline-block; *display:inline; *zoom:1; float:left; width:50px; margin:0; text-align:center;}
.list .sort a{ display:block; width:50px;  color:#3B4844; }
.list .sort a:link,.list .sort a:visited{color:#3B4844; text-decoration:none;}
.list .sort a{ display:block; width:50px; }
.list li a {display:inline-block; *display:inline; *zoom:1; float:left; width:117px; padding-left:0px; overflow:hidden;}
.list li a:link,.list li a:visited{ color:#8e93a0; text-decoration:none;}
.list li a:hover{ color:#fa9217; text-decoration:underline;}
.list .date{display:inline-block; *display:inline; *zoom:1; float:left; width:34px; text-align:center; color:#0c7fc7;}
.list li.title .date{ color:#444;}
.list{ min-height:100px; _height:100px;}
.list li.no{border-bottom:0;}
/*---zuixinkaifu---*/

.box h3.hotTh{ background-position:0 0;}
#gInfo{width:216px; margin:0 0 0 11px; padding-top:6px;}
#gInfo a.tabs{display:block; width:216px; height:32px;line-height:32px; background-image:url(img/infoA.gif); overflow:hidden; margin-bottom:3px; display:block; font-weight:normal; text-decoration:none;}
#gInfo a span{ display:block;color:#3b4844; font-size:12px; padding:1px 0 0 36px;}
#gInfo a:hover span{ color:#8f3f00;}
#gInfo a.selected{background-image:url(img/infoB.gif); color:#016a51;}
#gInfo a#i1{background-position: 0 0;}
#gInfo a#i2{background-position: 0 -35px;}
#gInfo a#i3{background-position: 0 -70px;}
#gInfo div{width:181px; margin-left:34px;}
#gInfo div ul{ display:block; padding:5px 0;}
#gInfo div a{ display:block; height:28px; line-height:28px;   white-space:nowrap; overflow:hidden; color:#666; border-bottom:1px dotted #d2dfe8; }
#gInfo div li a:link,.#gInfo div li a:visited{color:#666; text-decoration:none;}
#gInfo div li a:hover,#gInfo div li a.on{color:#fa9217;}


/*---bbs---*/
.box3 h3.bTh{ background-position:0 -551px; margin-top:10px;}
.hotBbs{ height:160px; _height:159px; overflow:hidden;}
.bbsContent{ width:200px; margin:0 auto; padding:5px 0;}
.bbsContent ul li a{ display:block; height:29px; line-height:29px;  overflow:hidden; border-bottom:1px dotted #d2dfe8; background:url(img/dt.gif) no-repeat 0 center; padding-left:10px; color:#666; white-space:nowrap;}
.bbsContent ul li a:link,.bbsContent ul li a:visited{ color:#666; text-decoration:none;}
.bbsContent ul li a:hover{ color:#fa9217; text-decoration:none;  background:url(img/dton.gif) no-repeat 0 center; }
.bbsContent ul li a.no{ border-bottom:0;}
/*---bbs---*/



.cBox{ border:1px solid #dee0e2; border-top:0; background:#f9f9f9;}
.box3 h3.problemTh{ background-position:0 -80px; margin-top:0px;}
.gProblem{ width:200px; margin:0 auto; padding:5px 0;}
.gProblem ul li a{ display:block; height:29px; line-height:29px; overflow:hidden; border-bottom:1px dotted #d2dfe8; background:url(img/dt.gif) no-repeat 0 center; padding-left:10px; color:#666; white-space:nowrap;}
.gProblem ul li a:link,.gProblem ul li a:visited{ color:#666; text-decoration:none;}
.gProblem ul li a:hover{ color:#fa9217; text-decoration:none;  background:url(img/dton.gif) no-repeat 0 center; }
.gProblem ul li a.no{ border-bottom:0;}

.box3 h3.csTh{ background-position:0 -122px; margin-top:10px;}
.gClient{ background:url(img/sprite.jpg) no-repeat 0 -412px; width:227px; height:212px; overflow:hidden;}
.gClient ul{ display:block; padding:80px 0 7px 56px; color:#444;}
.gClient ul li{ display:block; height:20px; line-height:20px; padding-bottom:7px; color:#666;}
.gClient ul li em{ display:inline-block; color:#2784b7; font-family:Arial;}
.gClient ul li a{ display:inline-block; color:#2784b7; text-decoration:none; font-family:Arial;}
.gClient ul li a:link,.gClient ul li a:visited{color:#2784b7; text-decoration:none;}
.gClient ul li a{ display:inline-block; color:#2784b7; text-decoration:none;}
.gClient ul li a:hover{ color:#fa9217; text-decoration:underline;}
.gClient a.csbtn{ clear:both; display:block; width:139px; height:34px; margin:0 auto; overflow:hidden; cursor:pointer; background:url(img/spritebtn.gif) no-repeat -287px 0; text-indent:-999em;}
.gClient a.csbtn:hover{ background:url(img/spritebtn.gif) no-repeat -287px -41px;}


/*---begin:col3---*/
.col3{ width:760px;}
.ucMod{ width:998px; border:1px solid #e0e2e4; background:#f9f9f9; margin:19px auto 10px;}
.photo{ float:left; _display:inline;}
.photo a{ display:block; width:120px; height120px; position:relative; margin:11px 0 11px 32px;}
.photo a img{ display:block; width:114px; height:114px; padding:2px; border:1px solid #e0e2e4;}
.photo div{ position:absolute; background:url(img/uc1.png) no-repeat center 0; width:114px; height:21px; text-align:center; line-height:21px; color:#fff; bottom:3px; left:3px;}
.ucMod dl{ float:right; _display:inline; width:795px; height:130px; overflow:hidden; margin:11px 32px 11px 0;}
.ucMod dl dt{ display:block; width:795px; height:30px; line-height:30px; background:url(img/nln.gif) no-repeat center bottom; color:#666; font-size:14px; font-weight:bold; overflow:hidden;}
.ucMod dl dt em{ font-family:Arial; font-weight:bold; color:#0c72b6;}
.ucMod dl dt span{ float:left;}
.ucMod dl strong{ float:right; color:#015790;}
.ucMod dl strong a:link,.ucMod dl strong a:visited{color:#015790;}
.ucMod dl strong a:hover{ color:#fa9217; text-decoration:none;}
.ucMod dl dd{ display:block; width:795px;}
.ucMod dl dd .ua{ float:left; _display:inline; width:550px;}
.ucMod dl dd .ub{ float:right; _display:inline; width:205px;}

.ucMod dl dd .ub a{ display:block; width:199px; height:78px; border:0; padding:2px; border:1px solid #e0e1e2; background:#f7f7f7; margin:12px 0 0;}
.ucMod dl dd .ub a img{ display:block; width:199px; height:78px;}
.ucMod dl dd .ub a:hover{ background:#cffff5;}

.ucMod .ua span{ display:block; width:548px; height:27px; border:1px solid #f8e2ad; background:#fffbe8; line-height:27px; color:#666; margin:11px 0 10px;}
.ucMod .ua span var{ color:#ff0000; font-weight:bold; padding-left:11px;}
.ucMod .ua  span{ color:#333; white-space:nowrap; padding-right:11px;}
.ucMod .ua a:link,.ucMod .ua a:visited{ color:#333; text-decoration:underline;}
.ucMod .ua a:hover{color:#fa9217; text-decoration:underline;}
.ucMod .ua p{ display:block; height:23px; line-height:23px; color:#666; overflow:hidden;}
.ucMod .ua ul{ display:block; color:#333; height:28px; line-height:28px; overflow:hidden;}
.ucMod .ua ul li a{ white-space:nowrap; color:#333; text-decoration:underline; padding-right:21px;}

.ucBox{ width:760px;}
.ucTitle{ width:760px; height:29px; overflow:hidden; border-bottom:1px solid #e7e7e8;}
.ucTitle h3{ display:block; height:29px; overflow:hidden;}
.ucTitle h3 a{ float:left; width:81px; height:29px; text-indent:-999em; cursor:pointer; overflow:hiddenp; background-image:url(img/ucclomoff.gif);}
.ucTitle h3 a:hover,.ucTitle h3 a.current{ background-image:url(img/ucclom.gif);}
.ucTitle h3 a.a0{ background-position:0 0;}
.ucTitle h3 a.a1{ background-position:-80px 0;}
.ucTitle h3 a.a2{ background-position:-160px 0;}
.ucTitle h3 a.a3{ background-position:-240px 0;}
.ucTitle h3 a.a4{ background-position:-320px 0;}

.ucMain{ width:758px; margin:0 auto 10px;  min-height:507px; _height:507px;  background:#f9f9f9 url(img/ucBg.gif) no-repeat center 0;}
.main .cb{ background:#f9f9f9 url(img/xr.gif) no-repeat right bottom;}
.main .nM .cb{ background:none;}
.ucMain dl{ display:block; width:707px; margin:0 auto 11px; padding-top:29px; border-bottom:1px dotted #dee0e2; height:149px; overflow:hidden;}
.ucMain dl.uAd3{ border-bottom:0;}
.ucMain dl dt{ float:left; width:216px;}
.ucMain dl dt a img{ display:block;  border:0; width:204px; height:126px; padding:5px; background:#f6f6f6; border:1px solid #e0e1e2; cursor:default;}
.ucMain dl dd{ float:right; width:478px; overflow:hidden;}
.ucMain dl dd .gameMsg{ display:block; width:478px; height:28px; background:url(img/nln.gif) no-repeat center bottom; overflow:hidden; margin:7px 0;}
.ucMain .gameMsg strong{ float:left; width:150px; background:url(img/ucln.gif) no-repeat 0 center; height:23px; line-height:23px; padding-left:10px; color:#3b4844; font-size:14px; overflow:hidden;}
.ucMain .gameMsg ul{ float:right; width:250px; overflow:hidden;}
.ucMain .gameMsg ul li{color:#0a68aa; height:23px; line-height:23px; overflow:hidden;}
.ucMain .gameMsg ul li a{ display:inline-block; *display:inline; *zoom:1;  white-space:nowrap; height:23px; line-height:23px; vertical-align:middle;}
.ucMain .gameMsg ul li a:link,.ucMain .gameMsg ul li a:visited{ color:#0a68aa; text-decoration:none;}
.ucMain .gameMsg ul li a:hover{ color:#fa9217; text-decoration:underline;}
.ucMain .gameMsg .ucBtn{display:inline-block; *display:inline; *zoom:1; width:69px; height:26px; text-indent:-999em; cursor:pointer; text-indent:-999em; background:url(img/btn.png) no-repeat -3px -3px; vertical-align:middle;
margin-left:10px;}
.ucMain .gameMsg .ucBtn:hover{ background:url(img/btn.png) no-repeat -3px -32px;}
.ucMain dd p{ display:block;  line-height:30px; color:#999; overflow:hidden;}
.ucMain dd p span{ color:#333;}
.ucMain dd p a:link,.ucMain dd p a:visited{ color:#999; text-decoration:none;}
.ucMain dd p a:hover{ color:#fa9217; text-decoration:none;}
.ucMain .gameSer{ display:block; width:478px; overflow:hidden;}
.ucMain .gameSer span{ display:block; float:left; width:60px; color:#333;}
.ucMain .gameSer ul{ display:block; float:left; width:415px;}


.ucMain .gameSer ul{ display:block; margin:0px auto; color:#528c00;}
.ucMain .gameSer ul li{float:left;height:23px;width:415px;white-space:nowrap;}
.ucMain .gameSer ul a{display:inline-block;color:#666;text-decoration:none; vertical-align:middle; _margin-top:3px;}
.ucMain .gameSer ul a:link,.ucMain .gameSer ul a:visited{ color:#666; text-decoration:none;}
.ucMain .gameSer ul a:hover{color:#fa9217;text-decoration:none;}
.ucMain .gameSer var{display:inline-block;*display:inline;*zoom:1;margin-left:3px; width:88px;vertical-align:middle;height:15px;_vertical-align:middle; text-middlfont-family:tahoma; overflow:hidden;text-indent:-999em; background-image:url(img/serstate.gif) ;background-repeat:no-repeat; background-position:0 15px;}
.ucMain .gameSer .s1 var{background-position:0 -15px; }
.ucMain .gameSer .s2 var{background-position:0 -90px; }
.ucMain .gameSer .s3 var{background-position:0 -75px; }
.ucMain .gameSer .s4 var{background-position:0 -45px; }
.ucMain .gameSer .s5 var{background-position:0 -105px; }
.ucMain .gameSer .s6 var{background-position:0 -120px; }
.ucMain .gameSer .s7 var{background-position:0 -30px; }
.ucMain .gameSer .s8 var{background-position:0 -60px; }
.ucMain .gameSer .s9 var{background-position:0 -135px; }
.ucMain .gameSer .s10 var{background-position:0 0; }
.ucMain .gameSer em{ color:#0a68aa;}


.ucMain .gTh2,.ucMain .gTh1{ display:block; background-image:url(img/uf.gif); position:relative; overflow:hidden;}

.ucMain h3.gTh2 span,.ucMain h3.gTh1 span{ display:none0; height:62px; line-height:39px; padding-left:21px; font-size:14px; color:#fa9217;}
.ucMain h3 a.more{ display:block; width:40px; height:20px; line-height:20px; overflow:hidden; color:#777; font-weight:normal; position:absolute; top:9px; right:16px;}
.ucMain h3 a.more:link,.box3 h3 a.more:visited{ color:#777; text-decoration:none;}
.ucMain h3 a.more:hover{ color:#fa9217; text-decoration:none;}
.ucMain .gTh1{ background-position:0 0; height:67px;}
.ucMain .gTh2{ background-position:0 -101px; height:66px;}
.ucMain .b1{ background:url(img/uf.gif) no-repeat 0 -72px; height:23px; overflow:hidden;}
.ucMain .b2{ background:url(img/uf.gif) no-repeat 0 -173px; height:28px; overflow:hidden;}
.ucMain .gamebox1{ width:693px; height:207px; margin:0 0 0 32px; overflow:hidden;}
.ucMain .gamebox1 li{ float:left; width:212px; height:207px; overflow:hidden; background:url(img/uf.gif) no-repeat 0 -219px; margin:0 29px 0 0px;}
.ucMain .gamebox1 li.gM{ }
.gamebox1 li p.p01{ display:block; width:199px; height:118px; margin:27px auto 0;}
.gamebox1 li p.p01 a{display:block; width:193px; height:112px;  padding:2px; background:#eee; border:1px solid #d7d7d7; overflow:hidden; cursor:pointer;}
.gamebox1 li p.p01 a:hover{background:#fcf8c9;}
.gamebox1 li p.p01 a img{ display:block; width:193px; height:112px; border:0;}
.gamebox1 li p.p02{ display:block; height:28px; line-height:28px; overflow:hidden; text-align:center; color:#666;}
.gamebox1 li p.p02 a:link,.gamebox1 li p.p02 a:visited{ color:#666; text-decoration:none;}
.gamebox1 li p.p02 a:hover{ color:#0c72b6; text-decoration:none;}
.gamebox1 li p.p03 a.intoBtn{ display:block; width:195px; height:16px; margin:10px auto 0; text-align:center; line-height:16px;  background:url(img/iton.gif) no-repeat 0 center; padding-left:10px; color:#698154;}
.gamebox1 li p.p03 a:link,.gamebox1 li p.p03 a:visited{color:#698154; text-decoration:none;}
.gamebox1 li p.p03 a:hover{color:#0c72b6; text-decoration:none; background:url(img/itoff.gif) no-repeat 0 center;}

.ucMain .gamebox2{ width:716px; height:186px; margin:0 auto; overflow:hidden;}
.ucMain .gamebox2 li{ float:left; width:172px; height:181px; overflow:hidden; background:url(img/uf.gif) no-repeat -222px -219px; margin:0 10px 0 0px;}
.ucMain .gamebox2 li.gM1{ margin:0 9px 0 10px;}
.ucMain .gamebox2 li.gM2{ margin-right:9px;}

.gamebox2 li p.p01{ display:block; width:158px; height:118px; margin:27px auto 0;}
.gamebox2 li p.p01 a{display:block; width:152px; height:112px;  padding:2px; background:#eee; border:1px solid #d7d7d7; overflow:hidden; cursor:pointer;}
.gamebox2 li p.p01 a:hover{background:#fcf8c9;}
.gamebox2 li p.p01 a img{ display:block; width:152px; height:112px; border:0;}

.gamebox2 li p.p02{ display:block; width:152px; height:16px; line-height:16px; overflow:hidden; margin:13px auto 0;}
.gamebox2 li p.p02 a.itBtn1{ display:block; float:right; height:16px; line-height:16px;  background:url(img/iton.gif) no-repeat 0 center; padding-left:25px; color:#698154;}
.gamebox2 li p.p02 a:link,.gamebox1 li p.p02 a:visited{color:#698154; text-decoration:none;}
.gamebox2 li p.p02 a:hover{color:#0c72b6; text-decoration:none; background:url(img/itoff.gif) no-repeat 0 center;}
.gamebox2 li p.p02 strong{ display:block; float:left; height:16px; line-height:16px; overflow:hidden;}
.gamebox2 li p.p02 strong a:link,.gamebox1 li p.p02 strong a:visited{color:#666; text-decoration:none;}
.gamebox2 li p.p02 strong a:hover{color:#0c72b6; text-decoration:none; background:none; }


/* -- ---- page ---- -- */
.pagnation { clear:both; color:#666;  padding:0 20px 20px 0; height:18px; line-height:18px;  text-align:right; }
.pagnation span{ display:inline-block; *display:inline; *zoom:1;  height:18px; line-height:18px; color:#666; margin:0 3px; vertical-align:middle;}
.pagnation span em{ color:#000; padding:0 3px;}
.pagnation b{ display:inline-block; *display:inline; *zoom:1;  height:18px; line-height:18px; color:#000; margin:0 3px; vertical-align:middle;}
.pagnation b var{ color:#0c7fc7; font-style:normal; font-family:"宋体";}
.pagnation b var.current{ color:#000;}
.pagnation a{ display:inline-block; *display:inline; *zoom:1;  margin: 0 2px; padding:0 6px; text-align:center; vertical-align:middle;  overflow:hidden; background:#f4f4f4; border:1px solid #8e93a0; }
.pagnation a:link, .pagnation a:visited {color:#666; }
.pagnation .current:link,.pagnation .current:visited{ color:#666; text-decoration:none;}
.pagnation a:hover, .pagnation .on{color:#666; text-decoration:none; border:1px solid #0c7fc7; background:#c9eaff;}
.pagnation .cur{color:#666; text-decoration:none; }
.pagnation a.pre:hover,.pagnation a.after:hover{}
 /* -- ---- page ---- -- */



/*---ucRecord---*/
.ucRecord{ width:758px; height:423px; overflow:hidden; margin-bottom:10px;}
.recordList{ width:756px; margin:0 auto; padding-top:20px;  min-height:370px; _height:370px;}
.recordList table{width:756px;}
.recordList table thead tr{ background:#f0f0f0; height:35px; line-height:35px; overflow:hidden;}
.recordList table thead tr th{ text-align:center; color:#004476; font-weight:bold;}
.recordList table tbody{ width:756px; color:#666;}
.recordList table tbody tr{height:35px; line-height:35px; }
.recordList table tbody tr td{ text-align:center; border-bottom:#eee 1px solid;}
.recordList .noRecord{ color:#f00;}
/*---ucRecord---*/
/*---ucSP---*/
.ucsp{ width:758px; height:780px; overflow:hidden; margin-bottom:10px;}
.recordList{ width:756px; margin:0 auto; padding-top:20px;  min-height:370px; _height:370px;}
.recordList table{width:756px;}
.recordList table thead tr{ background:#f0f0f0; height:35px; line-height:35px; overflow:hidden;}
.recordList table thead tr th{ text-align:center; color:#004476; font-weight:bold;}
.recordList table tbody{ width:756px; color:#666;}
.recordList table tbody tr{height:35px; line-height:35px; }
.recordList table tbody tr td{ text-align:center; border-bottom:#eee 1px solid;}
.recordList table tbody tr td input{ float:left; width:197px; padding:0px 3px; border:1px solid #dee0e2; background:#f9f9f9;  vertical-align:middle; height:20px; line-height:20px; color:#666; font-size:12px; margin-left:0; margin-right:5px;}
.recordList .noRecord{ color:#f00;}
/*---ucSP---*/
/*---newsStation---*/
.newsStation{ width:758px; height:423px; overflow:hidden; margin-bottom:10px;}
.newsLists{ width:758px; margin:0 auto; position:relative;}
.newsLists dl{ display:block; width:320px; padding-top:1px;}
.newsLists dl dd,.newsLists dl dt{ display:block; width:320px;}
.newsLists dd a{ display:block; width:318px; height:40px; line-height:40px; background:#efefef;  border-right:1px solid #dadada; border-bottom:1px dotted #dadada;  color:#666; overflow:hidden;}
.newsLists dd a:link,.newsLists dd a:visited{ color:#666; text-decoration:none; }
.newsLists dd a:hover,.newsLists dd a.on{ display:block;  height:40px; line-height:40px; background:#f9f9f9; border-right:1px solid #f9f9f9; border-bottom:1px dotted #dadada; color:#fa9217; overflow:hidden;}
.newsLists dd a strong,.newsLists dd a:hover strong{ float:left; color:#333; vertical-align:middle;}
.newsLists dd a var,.newsLists dd a:hover var{ float:right; padding-right:15px; color:#0c7fc7;   vertical-align:middle;}
.newsLists dd a em{ float:left; }
.newsLists dd a input{ float:left; border:0; vertical-align:middle; margin:15px 8px 0 35px; *margin:11px 6px 0 35px; vertical-align:middle;}

.newsLists dt.delLi{ display:block; height:40px; line-height:40px; width:318px; background:url(img/delibg.gif) no-repeat 0 0; border-right:1px solid #dadada; border-bottom:1px solid #dadada; overflow:hidden;}
.newsLists dt.delLi a.delBtn,.newsLists dt.delLi a.clearBtn{ float:left; _display:inline; background:none; width:53px; height:23px; border:0; background-image:url(img/spritebtn.gif); margin-top:9px; text-indent:-999em; overflow:hidden; cursor:pointer;}
.newsLists dt.delLi a.delBtn{ background-position:0 -1016px; margin-right:7px;}
.newsLists dt.delLi a.clearBtn{ background-position:-60px -1016px;}
.newsLists dt.delLi a.delBtn:hover{ background-position:0 -1047px;}
.newsLists dt.delLi a.clearBtn:hover{ background-position:-60px -1047px;}
.newsLists dt.delLi input{ float:left; _display:inline; border:0; vertical-align:middle; margin:14px 8px 0 35px;}
.newsLists dt.delLi var{ float:left; _display:inline; font-style:normal; color:#666; padding-right:110px;}
.newsLists .delete{ width:92px; height:23px; position:absolute; bottom:10px; right:20px;}
.newsLists .delete a{ display:block; width:92px; height:23px; background:url(img/spritebtn.gif) no-repeat 0 -1083px; overflow:hidden; text-indent:-999em; cursor:pointer;}
.newsLists .delete a:hover{ background:url(img/spritebtn.gif) no-repeat 0 -1107px; }
.newsLists dd p.lastP{ display:block; position:absolute; top:1px; left:321px; width:436px;}
.newsLists .lastP strong{ display:block; height:40px; line-height:40px; color:#666; background:#efefef; padding:0 30px; font-weight:100; overflow:hidden;}
.newsLists .lastP em{ float:left; font-style:normal;}
.newsLists .lastP em b{font-weight:bold; padding:0 5px; color:#333;  font-style:normal;}
.newsLists .lastP var.time{ float:right; font-style:normal;}
.newsLists .lastP span{ display:block; padding:30px; color:#666; line-height:30px; text-indent:2em;}

/* -- ---- page ---- -- */
.newsLists .pagnation { clear:both; background:#efefef; color:#666; text-align:center; padding:0; border-right:1px solid #dadada; height:36px; padding:16px 0 0 0; width:318px; }
 /* -- ---- page ---- -- */
 
 
/*---begin:securityCenter---*/
.safeCenter{ min-height:506px; _height:506px; margin-bottom:10px;}
.safeCenter ul{ display:block; width:489px; height:330px; overflow:hidden; margin:0 auto; padding-top:70px;}
.safeCenter ul li{ display:block; width:489px; height:330px;}
.safeCenter ul li a{ float:left; width:126px; height:150px; overflow:hidden; cursor:pointer; text-indent:-999em; background-image:url(img/safeOff.gif); margin-bottom:30px;}
.safeCenter ul li a:hover,.safeCenter ul li a.current{ background-image:url(img/safeOn.gif);}
.safeCenter ul li a.s1{ background-position:0 0;}
.safeCenter ul li a.s2{ background-position:-181px 0; margin:0 54px 0 55px}
.safeCenter ul li a.s3{ background-position:-361px 0;}

.safeCenter ul li a.s4{ background-position:0 -180px;}
.safeCenter ul li a.s5{ background-position:-181px -180px; margin:0 54px 0 55px}
.safeCenter ul li a.s6{ background-position:-361px -180px;}
/*---end:securityCenter---*/

/*---begin:baseinfo---*/
.th{ height:55px; overflow:hidden; padding-top:13px;}
.th h3{ display:block; height:55px; overflow:hidden;}
.th h3 a{ float:left; width:87px; height:55px; overflow:hidden; cursor:pointer; text-indent:-999em; margin-right:7px;}
.th .baseInfo a{ background-image:url(img/baseOff.gif);}
.th .baseInfo a:hover,.th .baseInfo a.current{ background-image:url(img/baseOn.gif);}
.th .baseInfo a.i1{ background-position:0 0; margin-left:34px;}
.th .baseInfo a.i2{ background-position:-94px 0;}
.th .baseInfo a.i3{ background-position:-188px 0;}

.reviseHead{ width:622px; margin:57px auto 10px;}
.setPhoto{ float:left; width:165px;}
.setPhoto a img{ display:block; width:152px; height:152px; border:1px solid #9c9c9c; padding:5px;}
.photoControl{ float:right; width:447px;}
.photoControl p{ display:block; height:30px; line-height:26px; overflow:hidden; color:#666; font-size:14px;}

.ucWay{ clear:both; display:block; padding:15px 0 0 152px; *padding-top:35px; }
.ucWay li{ display:block;  margin:1.5em 0 0 0;  color:#333; overflow:hidden;}
.ucWay li label{ float:left; width:105px; height:28px;  font:bold 14px "宋体"; color:#333; vertical-align:middle; text-align:right; text-align:right; line-height:28px;}
.ucWay li var{ float:left;  vertical-align:middle; height:28px; line-height:28px;}
.ucWay li input{ float:left; width:197px; padding:4px 3px; border:1px solid #dee0e2; background:#f9f9f9;  vertical-align:middle; height:20px; line-height:20px; color:#666; font-size:12px; margin-left:0; margin-right:5px;}
.ucWay .validate input{width:69px; margin-right:4px; }
.ucWay .validate img {vertical-align:middle;}
.ucWay em{ float:left; height:28px; line-height:28px; padding:0 3px; color:#0c72b6; vertical-align:middle; font-family:Arial, Helvetica, sans-serif; }
.ucWay span{ float:left; height:28px; line-height:28px; color:#777574; margin-left:0px; }
.ucWay span a:link,.ucWay span a:visited{ color:#03C; text-decoration:underline; padding-left:0px;}
.ucWay span a:hover{ color:#00f; text-decoration:underline;}

.ucWay span a.disabled:link,.ucWay span a.disabled:visited{ color:#999; text-decoration:underline; padding-left:0px; cursor:default;}
.ucWay span a.disabled:hover{ color:#999; text-decoration:underline;}


.ucWay span.warn{color:#c53800;}
.ucWay span.suc{display:inline-block; background: url(img/suc.png) no-repeat 0 0; width:40px; height:16px; vertical-align:middle; }
.ucMain .safe{ clear:both; display:block;  height:41px; overflow:hidden; margin:20px 0 0 21.3em;}
.ucMain .safe1{ margin:20px 0 0 23.2em; }
.ucMain .safe .safeBtn{ float:left; border:0; background:url(img/btn.png) no-repeat 0 -66px;  width:135px; height:41px; overflow:hidden; text-indent:-999em; cursor:pointer; margin-right:15px; margin-left:2.6em; *margin-left:2.8em;}
.ucMain .safe4 .safeBtn{margin-left:0; *margin-left:0;}
.ucMain .safe1 .safeBtn{margin-left:0; *margin-left:0;}


.ucMain .safe a{ float:left; height:41px; line-height:41px; white-space:nowrap; color:#666; text-decoration:underline; font-size:14px;}
.ucMain .safe a:link,.ucMain .safe a:visited{ color:#666; text-decoration:underline;}
.ucMain .safe a:hover{ color:#fa9217;}


.baseInfo ul{ display:block; padding:25px 0 20px 60px;}
.baseInfo li{ display:block; float:left; width:340px; margin:1.8em 0 0 0;  color:#333; position:relative; height:28px; z-index:2;}
.baseInfo li label{ float:left; width:80px; height:28px;  font:bold 14px "宋体"; color:#333; vertical-align:middle; text-align:right; line-height:28px; margin-right:2px;}
.baseInfo li input{ float:left; width:196px; padding:3px; border:1px solid #dee0e2; background:#f9f9f9;  vertical-align:middle; height:20px; line-height:20px; color:#666; }
.baseInfo li strong{ float:left; width:79px; padding:4px 10px;   border:1px solid #dee0e2; background:#f9f9f9;   height:18px;  color:#666;  font:normal 12px "宋体";  vertical-align:middle; text-align:left;  background:url(img/dragdown.gif) no-repeat 78px 4px; line-height:18px; cursor:pointer;}
.baseInfo li.p4 strong{ margin-right:3px;}
.baseInfo li.p3 strong.pa{ width:40px; background:url(img/dragdown.gif) no-repeat 34px 4px; padding-left:5px;}
.baseInfo li.p3 strong.pb{ width:29px; background:url(img/dragdown.gif) no-repeat 23px 4px; padding-left:5px;}
.baseInfo li var{ float:left; width:10px; height:28px;  font:normal 12px "宋体"; color:#333; vertical-align:middle; text-align:center; line-height:28px; margin:0 3px;}

.baseInfo li.idNum input{ width:132px;}
.baseInfo span{ float:left; height:28px; line-height:28px; color:#777574; vertical-align:middle;}
.baseInfo span a:link,.baseInfo span a:visited{ color:#333; text-decoration:underline; padding-left:8px;}
.baseInfo span a:hover{ color:#fa9217; text-decoration:underline;}

.baseInfo li div{ float:left; width:99px; height:23px; color:#fff;border:1px solid #dee0e2; background-color:#f9f9f9; z-index:9; }
.baseInfo .cB li{ display:block; margin:0; width:80px; height:20px;}
.baseInfo ul.cB{ padding:0;}
.baseInfo .sBox { float:left;  border:1px solid #dcdfe2; cursor:pointer; display:block; height:26px; line-height:26px; font-size:12px;}
.baseInfo .sBox0,.baseInfo .sBox4,.baseInfo .sBox5,.baseInfo .sBox6,.baseInfo .sBox7,.baseInfo .sBox8,.baseInfo .sBox9,.baseInfo .sBox10{ width:99px; background:#f9f9f9 url(img/dragdown.gif) no-repeat 80px center;}
.baseInfo .p2 .sBoxHover,.baseInfo .p4 .sBoxHover {background:#f9f9f9 url(img/dragdownon.gif) no-repeat 80px center;}
.baseInfo .sBox4,.baseInfo .sBox6,.baseInfo .sBox9{ margin-right:1px;}
.baseInfo .sBox1,.baseInfo .sBox2,.baseInfo .sBox3{width:52px; background:#f9f9f9 url(img/dragdown.gif) no-repeat 33px center;}
.baseInfo .p3 .sBoxHover{background:#f9f9f9 url(img/dragdownon.gif) no-repeat 33px center;}
.baseInfo .sBox11{width:201px; background:#f9f9f9 url(img/dragdown.gif) no-repeat 182px center;}
.baseInfo .p1 .sBoxHover{background:#f9f9f9 url(img/dragdownon.gif) no-repeat 182px center;}

.baseInfo .sBox a.cV {display:block; margin:0; padding:0 5px 0 4px; white-space:nowrap; color:#000;	overflow:hidden; width:71px;}
.baseInfo .sBox a.cV1,.baseInfo .sBox a.cV2,.baseInfo .sBox a.cV3{ width:30px;}
.baseInfo .sBox a.cV11{ width:180px;}
.baseInfo .cB {background:#fff; border:1px solid #999; margin-left:-1px; list-style:none; overflow-y:auto; overflow-x:hidden; z-index:1000; position:absolute; width:78px;  display:none;}
.baseInfo .p4 .cB { width:99px; height:150px; overflow-y:scroll;}

.baseInfo .cB1,.baseInfo .cB2,.baseInfo .cB3{ width:33px;}
.baseInfo .cB11{ width:182px;}
.baseInfo .cB11 li{ display:block; margin:0; width:182px; height:20px;}

.baseInfo .cB a{color:#000; display:block; height:20px; line-height:20px; padding-left:4px; background:#fff; overflow:hidden; white-space:nowrap;}
.baseInfo .cB a:link,.cB a:visited{ color:#000;}
.baseInfo .cB a:hover{background:#bbb; color:#cc3300;}
.baseInfo .cB a.selected{background:#bbb}
.baseInfo .sBox a {outline:none; text-decoration:none;}
.baseInfo .sBox a:focus {outline:none; text-decoration:none;} 


text-decoration:none; color:#003c4d; white-space:nowrap; text-decoration:none;}
.baseInfo li div a.lastA{ border:0;}
.baseInfo li div a:link,.baseInfo li div a:visited{ color:#003c4d; text-decoration:none;}
.baseInfo li div a:hover{text-decoration:none; color:#fa9217; }
/*---end:baseinfo---*/

/*---begin:setucinfo---*/
.th .setInfo a{ background-image:url(img/setOff.gif);}
.th .setInfo a:hover,.th .setInfo a.current{ background-image:url(img/setOn.gif);}
.th .setInfo a.i1{ background-position:0 0; margin-left:34px;}
.th .setInfo a.i2{ background-position:-94px 0;}
.th .setInfo a.i3{ background-position:-188px 0;}
.th .setInfo a.i4{ background-position:-282px 0;}
.th .setInfo a.i5{ background-position:-376px 0;}
.th .setInfo a.i6{ background-position:-470px 0;}

.ucMsg{ width:530px; height:64px; background:#fffbe8; border:1px solid #f8e2ad; margin:30px auto 0; overflow:hidden;}
.ucMsg var{ display:block; float:left; background:url(img/wicon.gif) no-repeat 0 0; width:16px; height:20px; margin:0 10px 0 20px;}
.ucMsg var.m1{ margin-top:15px;}
.ucMsg p{ display:block; float:left; width:460px; line-height:20px; color:#666;}
.ucMsg p.p1{  margin-top:12px;}
.ucMsg p.p1 a:link,.ucMsg p.p1 a:visited{ color:#009; text-decoration:underline; padding:0 3px;}
.ucMsg p.p1 a:hover{ color:#00f; text-decoration:underline;}



.ucMain span.success_level{width:67px;height:19px;background-image:url(img/success_level.gif); vertical-align:middle;text-indent:-999em;display:inline-block; margin-top:4px; overflow:hidden;}
.v0{background-position:0 0;}
.v1{background-position:0 -19px;}
.v2{background-position:0 -38px;}
.v3{background-position:0 -57px;}

.ucMain .update{ clear:both; display:block; width:135px; height:41px; overflow:hidden; margin:30px 0 0 256px;}
.ucMain .update .upBtn{ float:left; border:0; background:url(img/btn.png) no-repeat 0 -109px;  width:135px; height:41px; overflow:hidden; text-indent:-999em; cursor:pointer; margin-right:15px;}

.ucMsg var.m2{ margin-top:25px;}
.ucMsg p.p2{  margin-top:22px;}
.ucMain .w1{ padding-left:14.5em;}
.ucMain .w2{ padding:5px 0 0 18.5em;}

.ucMain .mobileSend{ clear:both; display:block; width:130px; height:37px; overflow:hidden; margin:20px 0 0 23.4em;}
.ucMain .mobileSend .sendBtn{ float:left; border:0; background:url(img/btn.png) no-repeat 0 -153px;  width:130px; height:37px; overflow:hidden; text-indent:-999em; cursor:pointer; margin-right:15px;}

.ucMain .contactWay dl{ display:block; width:758px; height:auto; margin:20px auto; border-top:1px dotted #d2dfe8; border-bottom:0; padding:0;}
.ucMain .contactWay dl dt{ display:block; float:none; height:30px; line-height:30px; color:#0c72b6; font-weight:bold; padding:12px 0 0 44px;}
.ucMain .contactWay dl dd{ display:block; float:none; width:auto;}
.ucMain .contactWay dl dd p{ display:block; line-height:23px; color:#666; padding:0 0 0 44px;}
.ucMain .contactWay dl dd a:link,.ucMain .contactWay dl dd a:visited{ color:#009; text-decoration:underline; padding:0 3px;}
.ucMain .contactWay dl dd a:hover{ color:#00f; text-decoration:underline;}

.ucMain .mobileValiue{ clear:both; display:block; width:330px; height:41px; overflow:hidden; margin:19px 0 0 20.3em;}
.ucMain .mobileValiue .sureBtn{ float:left; border:0; background:url(img/btn.png) no-repeat 0 -204px;  width:135px; height:41px; overflow:hidden; text-indent:-999em; cursor:pointer; margin-right:5px;}
.ucMain .mobileValiue .cancleBtn{ float:left; border:0; background:url(img/btn.png) no-repeat 0 -302px;  width:135px; height:41px; overflow:hidden; text-indent:-999em; cursor:pointer; }
.ucMain .mobileValiue .resetBtn,.ucMain .emailSend .resetBtn{ float:left; border:0; background:url(img/btn.gif) no-repeat 0 -253px;  width:135px; height:41px; overflow:hidden; text-indent:-999em; cursor:pointer; margin-right:5px;}
.ucMain .emailSend .disabled{ float:left; border:0; background:url(img/btn.gif) no-repeat -140px -253px;  width:135px; height:41px; overflow:hidden; text-indent:-999em; cursor:default; margin-right:5px;}
.ucMain .mobileValiue .disabled{ float:left; border:0; background:url(img/btn.gif) no-repeat -140px -253px;  width:135px; height:41px; overflow:hidden; text-indent:-999em; cursor:default; margin-right:5px;}

.ucMain .mobileValiue em{ float:left; width:32px; height:32px; border:1px solid #f8e2ad; background:#fffbe8; text-align:center; line-height:32px; overflow:hidden; margin-top:3px;}



.ucMain .emailSend .sendBtn1{ display:block; border:0; background:url(img/btn.png) no-repeat 0 -348px;  width:135px; height:41px; overflow:hidden; text-indent:-999em; cursor:pointer; margin:20px 0 0 20.8em;}
.ucMain .emailSend .emailBtn{ float:left; border:0; background:url(img/btn.gif) no-repeat 0 -395px;  width:135px; height:41px; overflow:hidden; text-indent:-999em; cursor:pointer; margin:20px 5px 0 18em;}
.ucMain .emailSend .changeEmailDisabled{float:left; border:0; background:url(img/btn.gif) no-repeat -140px -395px;  width:135px; height:41px; overflow:hidden; text-indent:-999em; cursor:default; margin:20px 5px 0 18em;}
.ucMain .emailSend .resetBtn,.ucMain .emailSend .disabled{ margin-top:20px;}
.ucMain .mobileValiue .disabled,.ucMain .emailSend .disabled{ cursor:default;}
.ucMain p.emailSend span{ float:left; margin-top:20px; height:41px; line-height:41px; color:#666;}


.emailValiue{ display:block; width:315px; height:84px; margin:25px auto 0;  overflow:hidden;}
.emailValiue .icon{ float:left; background:url(img/spritebtn.gif) no-repeat 0 -1150px; width:100px; height:84px; overflow:hidden; margin-right:10px;}
.emailValiue .valiuContent{float:left; width:200px;}
.emailValiue .valiuContent span{ display:block; height:40px; line-height:40px; color:#333; overflow:hidden;}
.emailValiue .valiuContent span a:link,.emailValiue .valiuContent span a:visited{ color:#8b8a8a; text-decoration:none;}
.emailValiue .valiuContent span a:hover{ color:#fa9217; text-decoration:underline;}
.emailValiue .valiuContent strong{ display:block; padding-top:5px;}
.emailValiue .valiuContent strong a:link,.emailValiue .valiuContent strong a:visited{ color:#333; text-decoration:none; font-size:14px;}
.emailValiue .valiuContent strong a:hover{ color:#fa9217; text-decoration:underline;}

.contactWay{ min-height:409px; _height:409px;}
.contactWay li{ display:block; margin:1.8em 0 0 0;  color:#333; position:relative; height:30px; z-index:2; overflow:visible;}

.contactWay  ul.w3{*padding-top:10px; padding-left:17.4em;} 
.contactWay  ul.w4{ padding-top:40px; *padding-top:75px; min-height:162px; *min-height:145px; _height:145px;}
.contactWay  ul.w4 span{ font-size:14px;} 
.contactWay  ul.w4 p{ display:block; color:#333; font-weight:bold; font-size:14px; padding-left:30px;} 
.contactWay ul.w5 li label{ float:left; width:auto; height:28px;  font:bold 14px "宋体"; color:#333; vertical-align:middle; text-align:right; text-align:right; line-height:28px; margin-left:4em;}
.contactWay ul.w5{ padding-top:40px;}
.contactWay ul.w5 li{ margin-top:0.5em;}
.contactWay ul.w5 li strong{ display:block; font-size:14px; color:#fa9217;margin-left:2.5em;}

.ucWay li input.r1,.ucWay li input.r2{ width:15px; background:none; border:0; margin:3px 2px 0 0;}
.ucWay li input.r2{ width:20px; margin-left:80px;}

.contactWay li.p1{ padding-left:105px; margin-top:10px;}
.contactWay li.p1 span{ display:block; padding-bottom:5px;}
.ucMain .safe4{ margin:25px 0 0 26em;}
.contactWay li.p1 div{top:47px;}

.contactWay li div{ float:left; width:99px; height:23px; color:#fff;border:1px solid #dee0e2; background-color:#f9f9f9; z-index:9; }
.contactWay .sBox { float:left; background:#f9f9f9 url(img/dragdown.gif) no-repeat 183px center;  border:1px solid #dcdfe2; cursor:pointer; display:block; width:202px; height:26px; line-height:26px; font-size:12px;}
.contactWay .sBoxHover {background:#f9f9f9 url(img/dragdownon.gif) no-repeat 183px center; }
.contactWay .sBox a.cV {display:block; margin:0; padding:0 5px 0 4px; white-space:nowrap; color:#000;	overflow:hidden; width:174px;}
.contactWay .cB {background:#f9f9f9; border:1px solid #999; margin-left:-1px; list-style:none; overflow-y:auto; z-index:1000; position:absolute; width:183px; display:none; overflow:hidden;}
.contactWay .cB a{color:#000; display:block; height:20px; line-height:20px; padding-left:4px; background:#fff; overflow:hidden; white-space:nowrap;}
.contactWay .cB a:link,.cB a:visited{ color:#000;}
.contactWay .cB a:hover{background:#bbb; color:#cc3300;}
.contactWay .cB a.selected{background:#bbb}
.contactWay .sBox a {outline:none; text-decoration:none;}
.contactWay .sBox a:focus {outline:none; text-decoration:none;} 
.contactWay .cB li{ display:block; margin:0;  color:#333; position:relative; height:20px; z-index:2; overflow:visible;}

.contactWay  ul.w3 .cB0{ height:150px; overflow-y:scroll;} 
.contactWay  ul.w3 .cB1{ height:150px; overflow-y:scroll;} 

/*---end:setucinfo---*/


/*---newsStation---*/


/*---end:col3---*/



